{% extends 'forms_b2/form.html' %}
{% block form_section %}            
            <script>
            $(document).ready(function(){


            $("#noMajorCongenital").click(function(){
                $("#majorCongenital :input").prop("disabled", true);
                $("#majorCongenital :input").removeAttr('value');
                 $("#majorCongenital").addClass("hidden");
            });

            $("#yesMajorCongenital").click(function(){
                $("#majorCongenital :input").prop("disabled", false);
                $("#majorCongenital").removeClass("hidden");
             });

        });
            </script>

            {% if b1.b2m_conanomaly == 0 %}
            <script>
                $(document).ready(function(){
                    $("#majorCongenital :input").prop("disabled", true);
                    $("#majorCongenital").addClass("hidden");
                });
            </script>
            {% elif b1.b2m_conanomaly == null %}
            <script>
                $(document).ready(function(){
                    $("#majorCongenital :input").prop("disabled", true);
                    $("#majorCongenital").addClass("hidden");
                });
            </script>
            {% endif %}

                       
            
            {% if is_save_all %}
            <script >
            $(document).ready(function(){
            $("#form_b2 :input").prop("disabled", true);           
            });
            </script>    
            {% endif %}

            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2A">Medical Data</a></li>
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2B">Ultrasound Scan Results</a></li>
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2C">Laboratory Test</a></li>                        
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2D">Current smoking habits </a></li>
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2E">Outdoor/indoor pollutant exposure and travel habits </a></li> 
                        <li class="list-group-item"><a href="{{request.get_full_path}}/../sectionB2F">Gestational nutrition and medications </a></li>
                    </ul>
                </div>
            </div>
            
            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->   
                    <form class="sectionB1-question" action="{{request.get_full_path}}" method="POST" id="form_b1">
                    <h2>Ultrasound Scan Result</h2>
                    <hr>
                    <input type="hidden" name="context" value="SAVE"> 
                    {% csrf_token %} 
                        
                        <div class="form-group">
                            <label> Date of Examination </label>
                            <input class="form-control datepicker" type="date" name="b2m_date_exam" 
                            value="{{ b1.b2m_date_exam }}">
                        </div>

                       <!--  <div class="form-group">
                            <label> Date of Test </label>
                            <input class="form-control datepicker" type="date" name="b2m_date_test" 
                            value="{{b1.b2m_date_test}}">
                        </div> --> 


                        <div class="form-group">
                            <label for="a3m_pre_height"> Gestational Age ( weeks ) </label>                         
                            <input class="form-control" type="number" name="b2m_gestat_age"  required placeholder="in weeks" value="{{ b1.b2m_gestat_age }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Head Circumference ( in cm ) </label>                        
                            <input class="form-control" type="number" name="b2m_hc" required placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_hc }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Abdominal circumference ( in cm ) </label>                 <input class="form-control" type="number" name="b2m_ac" required placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_ac }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Biparietal diameter ( in cm ) </label>    
                            <input class="form-control" type="number" name="b2m_bd" required placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_bd }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Femur length ( in cm ) </label>                         
                            <input class="form-control" type="number" name="b2m_fl" required placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_fl }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Distensio intercerebellar (in cm)  </label>        
                            <input class="form-control" type="number" name="b2m_di" required placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_di }}">
                        </div>

                        <fieldset class="form-group">
                            <label for="a3m_premature"> Major congenital anomaly ? </label>
                            {% if b1.b2m_conanomaly == null %}
                            <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="noMajorCongenital"  required value="0">
                                No
                                </label>
                            </div>                                
                            <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="yesMajorCongenital" value="1">
                                Yes
                                </label>
                            </div>
                            {% elif b1.b2m_conanomaly == 1 %}
                                <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="noMajorCongenital" value="0">
                                No
                                </label>
                            </div>                                
                            <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="yesMajorCongenital" value="1" checked>
                                Yes
                                </label>
                            </div>
                            {% else %}
                                <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="noMajorCongenital" value="0" checked>
                                No
                                </label>
                            </div>                                
                            <div class="form-check">
                                <label class="form-check-label">
                                <input type="radio" class="form-check-input" name="b2m_conanomaly" id="yesMajorCongenital" value="1">
                                Yes
                                </label>
                            </div>
                            {% endif %}                            
                        </fieldset>

                        <div id="majorCongenital">
                            <div class="form-group">
                                <label> Specify </label>
                                <input class="form-control" type="text" name="b2m_conanomaly_specify" value="{{ b1.b2m_conanomaly_specify | default_if_none:'' }}" id="conanomaly_specify">
                            </div>
                        </div>

                         <h4>Fetal Umbilical Doppler</h4>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="a3m_pre_height"> Systolic Velocity (m/s) </label>                   
                                    <input class="form-control" type="number" name="b2m_SVDoppler" placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_SVDoppler }}">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="a3m_pre_height"> Diastolic (m/s) </label>                         
                                    <input class="form-control" type="number" name="b2m_DVDoppler" placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_DVDoppler }}">
                                </div>
                            </div>
                        </div> 

                        <div class="form-group">
                            <label for="a3m_pre_height"> Resistance index of medical cerebral artery (RI MCA) </label> <input class="form-control" type="number" name="b2m_rimca" placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_rimca }}">
                        </div>

                        <div class="form-group">
                            <label for="a3m_pre_height"> Amniotic Index </label>                   
                            <input class="form-control" type="number" name="b2m_amnion" placeholder="enter decimal number" step="0.01" value="{{ b1.b2m_amnion }}">
                        </div>

                        <div class="form-group">
                                <label>Notes</label>
                                {% if b1.b2m_notes == null %}
                                <textarea class="form-control" name="b2m_notes" type="text" rows="5" 
                                value=""></textarea>
                                {% else %}
                                <textarea class="form-control" name="b2m_notes" type="text" rows="5" 
                                value="">{{ b1.b2m_notes }}</textarea>
                                {% endif %}
                            </div>

                        {% if is_save_all %}
                                    
                        {% else %}
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                        {% endif %}    
                    </form>

                    {% if role != 'staff' %}
                            {% if date_data_checked %}

                            {% else %}
                                {% if is_save_all %}
                                <form action="{{request.get_full_path}}/../edit" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="section_number" value="2">
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/> 
                                </form>
                                {% endif %}
                            {% endif %}
                    {% endif %}
                </div>
            </div>


        </div>
    </div>

        <script>
             $("#save").click(function(){
            $.notify("Data telah tersimpan", "success");
        });
        </script>

</body>

</html>
{% endblock %}

