{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->

    <div class="container">
        <!-- Form Umum Section -->
        {% if success %}
            <div class="alert alert-success text-center">
              <strong>Success!</strong>
            </div>
        {% endif %}
        <div class="jumbotron">
            <h2 class="text-center">Form A - Baseline</h2>
            <hr>         
            <form class="patient-form-data">
               <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="participant_id"> Participant Id </label>
                            <input class="form-control disabled" type="text" value="{{participant.participant_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="participant_name"> Participant Name </label>
                            <input class="form-control" type="text" name="participant_name" value="{{participant.name}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="date_admission"> Date Admission </label>
                            <input class="form-control" type="date" name="date_admission" value="{{date_admission}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="interviewer_id"> Interviewed By </label>
                            <input class="form-control" type="text" name="interviewer_id" value="{{interviewer.username}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="interviewed_date"> Date Interviewed </label>
                            <input class="form-control" type="date" name="date_interviewed" value="{{date_interviewed}}" disabled>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-6 col-sm-6">                                            
                        <div class="form-group">
                            <label for="created_id"> Created By  </label>
                            <input class="form-control" type="text" name="data_entry_id" value="{{form.data_entry_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="created_date"> Created Date  </label>
                            {% if date_data_entered %}
                                <input class="form-control" type="date" name="date_data_entered" value="{{date_data_entered}}" disabled>
                            {% else %}
                                <input class="form-control" type="date" name="date_data_entered" value="{% now "Y-m-d" %}" disabled>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="checked_id"> Checked By </label>
                            <input class="form-control" type="text" name="data_checked_id" value="{{form.data_checked_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="checked_date"> Checked Date </label>
                            <input class="form-control" type="date" name="date_data_checked" value="{{date_data_checked}}" disabled>
                        </div>
                    </div>                  
                </div> <!-- end row -->
            </form>
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6 col-md-offset-5">
                        {% if role == 'staff' %}
                            {% if is_save_all %}

                            {% else %}
                                <form action="{% url 'forms_a:save_form' %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Submit Form"/>
                                </form>
                            {% endif %}
                        {% else %}
                        <form action="{% url 'forms_a:check_form' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="Check Form"/> 
                        </form>
                        {% endif %}
                    </div> 
                </div> <!-- End Row -->
        </div> <!-- End of Form  -->

        <div class="row">
            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <a href="{% url 'forms_a:process_section1' %}"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section2'%}"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section3'%}"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section4'%}"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section5'%}"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section6'%}"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section7'%}"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section8'%}"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{% url 'forms_d:process_section1' %}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{% url 'forms_d:process_section1' %}" method="post" id="form_d">
                    {% endif %}
                        <h2>Infant Feeding Data</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <fieldset class="form-group">
                                <label for="a2m_working_pregnancy"> Is your baby currently still fully breastfed? </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if d2.d2c_breastfeeding_status %}
                                    <input type="radio" class="form-check-input" name="d2c_breastfeeding_status" value="1" checked>
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="d2c_breastfeeding_status" value="1">
                                    {% endif %}
                                    Yes
                                    </label>
                                </div>                                
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if d2.d2c_breastfeeding_status %}
                                    <input type="radio" class="form-check-input" name="d2c_breastfeeding_status" 
                                    value="0">
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="d2c_breastfeeding_status" 
                                    value="0" checked>
                                    {% endif %}
                                    No
                                    </label>
                                </div>                            
                        </fieldset>


                        <div id="familyHistoryDisease">
                            <h4>If your baby is not fully breastfed anymore, what sort of foods that you have started to give?</h4>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d2.d2c_infant_formula %}
                                        <input class="form-check-input" name="d2c_infant_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_infant_formula" type="checkbox">
                                        {% endif %}
                                        Infant formula
                                    </label>
                                    <div class="col-md-6 col-sm-6">                            
                                        <label for="d2c_age_formula"> firstly introduced at the age (in weeks) </label>           
                                        <input class="form-control" type="number" name="d2c_age_formula" placeholder="in weeks" value="{{d2.d2c_age_formula}}">  
                                    </div>
                                    <label class="form-check-label">
                                        {% if d2.d2c_cows_milk_formula %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox">
                                        {% endif %}
                                        Regular / cow's milk based
                                    </label>
                                    <label class="form-check-label">
                                        {% if d2.d2c_soy_formula %}
                                        <input class="form-check-input" name="d2c_soy_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_soy_formula" type="checkbox">
                                        {% endif %}
                                        Soy-based
                                    </label>
                                    <label class="form-check-label">
                                        {% if d2.d2c_hypoallergen_formula %}
                                        <input class="form-check-input" name="d2c_hypoallergen_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_hypoallergen_formula" type="checkbox">
                                        {% endif %}
                                        Hypoallergenic (e.g NAN HA, Nutrilon HA)
                                    </label>
                                    <label class="form-check-label">
                                        {% if d2.d2c_hydrolized_formula %}
                                        <input class="form-check-input" name="d2c_hydrolized_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_hydrolized_formula" type="checkbox">
                                        {% endif %}
                                        Regular / cow's milk based
                                    </label>
                                    <label class="form-check-label">
                                        {% if d2.d2c_cows_milk_formula %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox">
                                        {% endif %}
                                        Regular / cow's milk based
                                    </label>
                            </div>

                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d2.d2c_weaning_food %}
                                        <input class="form-check-input" name="d2c_weaning_food" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_weaning_food" type="checkbox">
                                        {% endif %}
                                        Complementary / weaning food
                                    </label>
                                    <div class="col-md-6 col-sm-6">                            
                                        <label for="d2c_age_weaning_food"> firstly introduced at the age (in weeks) </label>           
                                        <input class="form-control" type="number" name="d2c_age_weaning_food" placeholder="in weeks" value="{{d2.d2c_age_weaning_food}}">  
                                    </div>
                            </div>
                            

                               

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{% url 'forms_d:edit_form' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value={{form.id}}>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %}  
                </div>
            </div>
        </div>
    </div>
 {% endblock %}