{% extends 'base.html' %}
{% block content %}
    <!-- Page Content -->

    <div class="container">
        <!-- Form Umum Section -->
        {% if success %}
            <div class="alert alert-success text-center">
              <strong>Success!</strong>
            </div>
        {% endif %}
        <div class="jumbotron">
            <h2 class="text-center">Form A - Baseline</h2>
            <hr>         
            <form class="patient-form-data">
               <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="participant_id"> Participant Id </label>
                            <input class="form-control disabled" type="text" value="{{participant.participant_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="participant_name"> Participant Name </label>
                            <input class="form-control" type="text" name="participant_name" value="{{participant.name}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="date_admission"> Date Admission </label>
                            <input class="form-control" type="date" name="date_admission" value="{{date_admission}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="interviewer_id"> Interviewed By </label>
                            <input class="form-control" type="text" name="interviewer_id" value="{{interviewer.username}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="interviewed_date"> Date Interviewed </label>
                            <input class="form-control" type="date" name="date_interviewed" value="{{date_interviewed}}" disabled>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-6 col-sm-6">                                            
                        <div class="form-group">
                            <label for="created_id"> Created By  </label>
                            <input class="form-control" type="text" name="data_entry_id" value="{{form.data_entry_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="created_date"> Created Date  </label>
                            {% if date_data_entered %}
                                <input class="form-control" type="date" name="date_data_entered" value="{{date_data_entered}}" disabled>
                            {% else %}
                                <input class="form-control" type="date" name="date_data_entered" value="{% now "Y-m-d" %}" disabled>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="checked_id"> Checked By </label>
                            <input class="form-control" type="text" name="data_checked_id" value="{{form.data_checked_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="checked_date"> Checked Date </label>
                            <input class="form-control" type="date" name="date_data_checked" value="{{date_data_checked}}" disabled>
                        </div>
                    </div>                  
                </div> <!-- end row -->
            </form>
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6 col-md-offset-5">
                        {% if role == 'staff' %}
                            {% if is_save_all %}

                            {% else %}
                                <form action="{% url 'forms_a:save_form' %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Submit Form"/>
                                </form>
                            {% endif %}
                        {% else %}
                        <form action="{% url 'forms_a:check_form' %}" method="post">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-success" value="Check Form"/> 
                        </form>
                        {% endif %}
                    </div> 
                </div> <!-- End Row -->
        </div> <!-- End of Form  -->

        <div class="row">
            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item active">
                            <a href="{% url 'forms_a:process_section1' %}"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section2'%}"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section3'%}"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section4'%}"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section5'%}"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section6'%}"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section7'%}"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_a:process_section8'%}"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{% url 'forms_d:process_section1' %}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{% url 'forms_d:process_section1' %}" method="post" id="form_d">
                    {% endif %}
                        <h2>Infection Episode</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <div class="form-group" id="">                        
                            <label> Since the last visit, has the child had a fever? </label>
                            <div class="radio">                                
                                <label>
                                {% if d7.d7c_infection %}
                                <input type="radio" name="d7c_infection" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d7c_infection" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d7.d7c_infection %}
                                <input type="radio" name="d7c_infection" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d7c_infection" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="">
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_upper_respi %}
                                <input class="form-check-input" name="d7c_infection_upper_respi" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_upper_respi" type="checkbox">
                                {% endif %}
                                Upper respiratory tract infection (rhintis, cough/cold, ear infection, etc)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_lower_respi %}
                                <input class="form-check-input" name="d7c_infection_lower_respi" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_lower_respi" type="checkbox">
                                {% endif %}
                                Lower respiratory tract infection (pneumonia, tubercolosis)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_gastro %}
                                <input class="form-check-input" name="d7c_infection_gastro" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_gastro" type="checkbox">
                                {% endif %}
                                Gastrointestinal infection (diarrhoea, vomiting)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_urinary %}
                                <input class="form-check-input" name="d7c_infection_urinary" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_urinary" type="checkbox">
                                {% endif %}
                                Urinary tract infection
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_cns %}
                                <input class="form-check-input" name="d7c_infection_cns" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_cns" type="checkbox">
                                {% endif %}
                                Central nervous system infection
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_sepsis %}
                                <input class="form-check-input" name="d7c_infection_sepsis" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_sepsis" type="checkbox">
                                {% endif %}
                                Sepsis
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_dengue %}
                                <input class="form-check-input" name="d7c_infection_dengue" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_dengue" type="checkbox">
                                {% endif %}
                                Dengue (haemorrhagic) fever
                                </label>
                            </div>                           
                            <label>Other, specify</label>
                            <input class="form-control" type="text" name="d7c_infection_others" value="{{d7.d7c_infection_others}}" required>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_unknown %}
                                <input class="form-check-input" name="d7c_infection_unknown" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_unknown" type="checkbox">
                                {% endif %}
                                Unknown diagnosis
                                </label>
                            </div>
                            <label>Physician Clinic</label>
                            <input class="form-control" type="text" name="d7c_physician_clinic" value="{{d7.d7c_physician_clinic}}" required>
                            <label>Contact</label>
                            <input class="form-control" type="text" name="d7c_contact" value="{{d7.d7c_contact}}" required>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_infection_symptoms %}
                                <input class="form-check-input" name="d7c_infection_symptoms" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_infection_symptoms" type="checkbox">
                                {% endif %}
                                Non specific symptoms: irritability/lethargy/drowsiness/decrease appetite
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_symptoms_respi %}
                                <input class="form-check-input" name="d7c_symptoms_respi" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_symptoms_respi" type="checkbox">
                                {% endif %}
                                Respiratory: cough/cold/ear discharge/runny nose/stuffed nose/shortness of breath
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_symptoms_gastro %}
                                <input class="form-check-input" name="d7c_symptoms_gastro" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_symptoms_gastro" type="checkbox">
                                {% endif %}
                                Gastrointestinal: diarrhoea, vomiting
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_symptoms_skin %}
                                <input class="form-check-input" name="d7c_symptoms_skin" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_symptoms_skin" type="checkbox">
                                {% endif %}
                                Skin: rash/pustule
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_symptoms_nervous %}
                                <input class="form-check-input" name="d7c_symptoms_nervous" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_symptoms_nervous" type="checkbox">
                                {% endif %}
                                Nervous system: seizure
                                </label>
                            </div>
                        </div>

                        <div class="form-group" id="">                        
                            <label> Has the child been hospitalised since the last visit? </label>
                            <div class="radio">                                
                                <label>
                                {% if d7.d7c_hospitalization %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d7.d7c_hospitalization %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group">
                            <label for="d7c_admission_date"> Date of admission </label>
                            <input class="form-control" type="date" name="d7c_admission_date" value="{{ d7.d7c_admission_date }}" required>
                        </div>

                        <div class="form-group">
                            <label for="d7c_discharged_date"> Date of discharged </label>
                            <input class="form-control" type="date" name="d7c_discharged_date" value="{{ d7.d7c_discharged_date }}" required>
                        </div>

                        <div class="form-group">
                            <label for="d7c_hospital"> Name of hospital </label>
                            <input class="form-control" type="text" name="d7c_hospital" value="{{ d7.d7c_hospital }}" required>
                        </div>

                        <div class="form-group">
                            <label for="d7c_physician"> Name of physician </label>
                            <input class="form-control" type="text" name="d7c_physician" value="{{ d7.d7c_physician }}" required>
                        </div>

                        <div class="form-group">
                            <label for="d7c_hospital_contact"> Contact number of physician/hospital </label>
                            <input class="form-control" type="text" name="d7c_hospital_contact" value="{{ d7.d7c_hospital_contact }}" required>
                        </div>

                        <div id="">
                            <h4>In which ward that the child is admitted?</h4>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d7.d7c_ward == "1" %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox">
                                        {% endif %}
                                        Emergency room only
                                    </label>
                                    <label class="form-check-label">
                                        {% if d7.d7c_ward == "2" %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox">
                                        {% endif %}
                                        One day care
                                    </label>
                                    <label class="form-check-label">
                                        {% if d7.d7c_ward == "3" %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox">
                                        {% endif %}
                                        General Ward
                                    </label>
                                    <label class="form-check-label">
                                        {% if d7.d7c_ward == "4" %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d7c_ward" type="checkbox">
                                        {% endif %}
                                        High care/intensive care
                                    </label>
                            </div>
                        </div>

                        <div class="form-group" id="">                        
                            <label> Did the baby undergo any additional test? </label>
                            <div class="radio">                                
                                <label>
                                {% if d7.d7c_additional_test %}
                                <input type="radio" name="d7c_additional_test" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d7c_additional_test" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d7.d7c_additional_test %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d7c_hospitalization" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="">
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_blood_test %}
                                <input class="form-check-input" name="d7c_blood_test" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_blood_test" type="checkbox">
                                {% endif %}
                                Blood test
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_blood_count %}
                                <input class="form-check-input" name="d7c_blood_count" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_blood_count" type="checkbox">
                                {% endif %}
                                Complete blood count
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_crp %}
                                <input class="form-check-input" name="d7c_crp" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_crp" type="checkbox">
                                {% endif %}
                                CRP
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_procalcitonin %}
                                <input class="form-check-input" name="d7c_procalcitonin" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_procalcitonin" type="checkbox">
                                {% endif %}
                                Procalcitonin
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_blood_culture %}
                                <input class="form-check-input" name="d7c_blood_culture" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_blood_culture" type="checkbox">
                                {% endif %}
                                Blood culture
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_blood_culture_date"> Blood culture date </label>
                                <input class="form-control" type="date" name="d7c_blood_culture_date" value="{{ d7.d7c_blood_culture_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_blood_microorganism"> Microorganism growth </label>
                                <input class="form-control" type="text" name="d7c_blood_microorganism" value="{{ d7.d7c_blood_microorganism }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_typhoid %}
                                <input class="form-check-input" name="d7c_typhoid" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_typhoid" type="checkbox">
                                {% endif %}
                                Typhoid serology
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_dengue_ns_1 %}
                                <input class="form-check-input" name="d7c_dengue_ns_1" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_dengue_ns_1" type="checkbox">
                                {% endif %}
                                Dengue NS 1
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_dengue %}
                                <input class="form-check-input" name="d7c_dengue" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_dengue" type="checkbox">
                                {% endif %}
                                Dengue serology
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_nasopharyngeal %}
                                <input class="form-check-input" name="d7c_nasopharyngeal" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_nasopharyngeal" type="checkbox">
                                {% endif %}
                                Nasopharyngeal swab
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_urine %}
                                <input class="form-check-input" name="d7c_urine" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_urine" type="checkbox">
                                {% endif %}
                                Urine
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_urinalysis %}
                                <input class="form-check-input" name="d7c_urinalysis" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_urinalysis" type="checkbox">
                                {% endif %}
                                Urinalysis
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_urinalysis_date"> Urinalysis date </label>
                                <input class="form-control" type="date" name="d7c_urinalysis_date" value="{{ d7.d7c_urinalysis_date }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_urine_culture %}
                                <input class="form-check-input" name="d7c_urine_culture" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_urine_culture" type="checkbox">
                                {% endif %}
                                Urine culture
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_urine_date  "> Urine culture date </label>
                                <input class="form-control" type="date" name="d7c_urine_date " value="{{ d7.d7c_urine_date  }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_urine_microorganism"> Microorganism growth </label>
                                <input class="form-control" type="text" name="d7c_urine_microorganism" value="{{ d7.d7c_urine_microorganism }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_csf %}
                                <input class="form-check-input" name="d7c_csf" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_csf" type="checkbox">
                                {% endif %}
                                CSF
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_csf_date  "> CSF date </label>
                                <input class="form-control" type="date" name="d7c_csf_date " value="{{ d7.d7c_csf_date  }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_csf_microorganism"> Microorganism growth </label>
                                <input class="form-control" type="text" name="d7c_csf_microorganism" value="{{ d7.d7c_csf_microorganism }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_faecal_culture %}
                                <input class="form-check-input" name="d7c_faecal_culture" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_faecal_culture" type="checkbox">
                                {% endif %}
                                Faecal Culture
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_faecal_date"> Faecal date </label>
                                <input class="form-control" type="date" name="d7c_faecal_date" value="{{ d7.d7c_faecal_date  }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_faecal_microorganism"> Microorganism growth </label>
                                <input class="form-control" type="text" name="d7c_faecal_microorganism" value="{{ d7.d7c_faecal_microorganism }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_chest_xray %}
                                <input class="form-check-input" name="d7c_chest_xray" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_chest_xray" type="checkbox">
                                {% endif %}
                                Chest x-ray
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_chest_xray_findings"> Chest x-ray findings </label>
                                <input class="form-control" type="text" name="d7c_chest_xray_finding" value="{{ d7.d7c_chest_xray_finding }}" required>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_usg %}
                                <input class="form-check-input" name="d7c_usg" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_usg" type="checkbox">
                                {% endif %}
                                USG
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_usg_type"> USG type </label>
                                <input class="form-control" type="text" name="d7c_usg_type" value="{{ d7.d7c_usg_type }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_usg_date "> USG date </label>
                                <input class="form-control" type="date" name="d7c_usg_date " value="{{ d7.d7c_usg_date   }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_usg_findings"> USG findings </label>
                                <input class="form-control" type="text" name="d7c_usg_findings" value="{{ d7.d7c_usg_findings }}" required>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_mri %}
                                <input class="form-check-input" name="d7c_mri" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_mri" type="checkbox">
                                {% endif %}
                                MRI or CT Scan
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_mri_type"> MRI type </label>
                                <input class="form-control" type="text" name="d7c_mri_type" value="{{ d7.d7c_mri_type }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_mri_date "> MRI date </label>
                                <input class="form-control" type="date" name="d7c_mri_date " value="{{ d7.d7c_mri_date   }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_mri_findings"> MRI findings </label>
                                <input class="form-control" type="text" name="d7c_mri_findings" value="{{ d7.d7c_mri_findings }}" required>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if d7.d7c_other_test %}
                                <input class="form-check-input" name="d7c_other_test" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="d7c_other_test" type="checkbox">
                                {% endif %}
                                Other test
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="d7c_other_test_type"> Type of the test </label>
                                <input class="form-control" type="text" name="d7c_other_test_type" value="{{ d7.d7c_other_test_type }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_other_test_date"> Test date </label>
                                <input class="form-control" type="date" name="d7c_other_test_date" value="{{ d7.d7c_other_test_date  }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_other_test_findings"> Findings </label>
                                <input class="form-control" type="text" name="d7c_other_test_findings" value="{{ d7.d7c_other_test_findings }}" required>
                            </div>
                        </div>

                        <div class="form-group" id="">                        
                            <label> Has the child took any medications since the last visit? </label>
                            <div class="radio">                                
                                <label>
                                {% if d7.d7c_medication %}
                                <input type="radio" name="d7c_medication" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d7c_medication" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d7.d7c_medication %}
                                <input type="radio" name="d7c_medication" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d7c_medication" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="">                        
                            <label> List of medications taken since the last visit? </label>
                        </div>    

                        <div class="form-group" id="">
                            <div class="form-group">
                                <label for="d7c_med1_name"> Medication name </label>
                                <input class="form-control" type="text" name="d7c_med1_name" value="{{ d7.d7c_med1_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med1_dosage"> Dosage </label>
                                <input class="form-control" type="text" name="d7c_med1_dosage" value="{{ d7.d7c_med1_dosage }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med1_start_date"> Star date </label>
                                <input class="form-control" type="date" name="d7c_med1_start_date" value="{{ d7.d7c_med1_start_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med1_end_date"> End date </label>
                                <input class="form-control" type="text" name="d7c_med1_end_date" value="{{ d7.d7c_med1_end_date }}" required>
                            </div>                            
                        </div>

                        <div class="form-group" id="">
                            <div class="form-group">
                                <label for="d7c_med2_name"> Medication name </label>
                                <input class="form-control" type="text" name="d7c_med2_name" value="{{ d7.d7c_med2_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med2_dosage"> Dosage </label>
                                <input class="form-control" type="text" name="d7c_med2_dosage" value="{{ d7.d7c_med2_dosage }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med2_start_date"> Star date </label>
                                <input class="form-control" type="date" name="d7c_med2_start_date" value="{{ d7.d7c_med2_start_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med2_end_date"> End date </label>
                                <input class="form-control" type="text" name="d7c_med2_end_date" value="{{ d7.d7c_med2_end_date }}" required>
                            </div>                            
                        </div>

                        <div class="form-group" id="">
                            <div class="form-group">
                                <label for="d7c_med3_name"> Medication name </label>
                                <input class="form-control" type="text" name="d7c_med3_name" value="{{ d7.d7c_med3_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med3_dosage"> Dosage </label>
                                <input class="form-control" type="text" name="d7c_med3_dosage" value="{{ d7.d7c_med3_dosage }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med3_start_date"> Star date </label>
                                <input class="form-control" type="date" name="d7c_med3_start_date" value="{{ d7.d7c_med3_start_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med3_end_date"> End date </label>
                                <input class="form-control" type="text" name="d7c_med3_end_date" value="{{ d7.d7c_med3_end_date }}" required>
                            </div>                            
                        </div>

                        <div class="form-group" id="">
                            <div class="form-group">
                                <label for="d7c_med4_name"> Medication name </label>
                                <input class="form-control" type="text" name="d7c_med4_name" value="{{ d7.d7c_med4_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med4_dosage"> Dosage </label>
                                <input class="form-control" type="text" name="d7c_med4_dosage" value="{{ d7.d7c_med4_dosage }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med4_start_date"> Star date </label>
                                <input class="form-control" type="date" name="d7c_med4_start_date" value="{{ d7.d7c_med4_start_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med4_end_date"> End date </label>
                                <input class="form-control" type="text" name="d7c_med4_end_date" value="{{ d7.d7c_med4_end_date }}" required>
                            </div>                            
                        </div>

                        <div class="form-group" id="">
                            <div class="form-group">
                                <label for="d7c_med5_name"> Medication name </label>
                                <input class="form-control" type="text" name="d7c_med5_name" value="{{ d7.d7c_med5_name }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med5_dosage"> Dosage </label>
                                <input class="form-control" type="text" name="d7c_med5_dosage" value="{{ d7.d7c_med5_dosage }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med5_start_date"> Star date </label>
                                <input class="form-control" type="date" name="d7c_med5_start_date" value="{{ d7.d7c_med5_start_date }}" required>
                            </div>
                            <div class="form-group">
                                <label for="d7c_med5_end_date"> End date </label>
                                <input class="form-control" type="text" name="d7c_med5_end_date" value="{{ d7.d7c_med5_end_date }}" required>
                            </div>                            
                        </div>

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                </div>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{% url 'forms_a:edit_form' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="section_number" value=1>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %} 
                 </div>
            </div>
        </div>
    </div>
 {% endblock %}
