{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PEER</title>

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<script 
src="https://code.jquery.com/jquery-1.11.1.min.js"></script> 
<script 
src="https://cdn.datatables.net/1.10.4/js/jquery.dataTables.min.js"></script>
<script 
src="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.js">
</script>
<link rel="stylesheet" 
href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" 
href="https://cdn.datatables.net/plug-ins/9dcbecd42ad/integration/jqueryui/dataTables.jqueryui.css">

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script>
     $(document).ready(function(){
           $("#form_a :input").prop("disabled", true);
           $("#submit_button").prop("disabled", false);

        });
    </script>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">PEER Data Management</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>  
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->

    <div class="container">
        <!-- Form Umum Section -->
        <div class="jumbotron">
            <h2 class="text-center">Form A - Baseline</h2>
            <hr>         
            <form class="patient-form-data">
               <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6">
                        <div class="form-group">
                            <label for="participant_id"> Participant Id </label>
                            <input class="form-control disabled" type="text" value="{{form.participant.participant_id}}" disabled>
                            <input type="hidden" name="participant_id" value="{{form.participant.participant_id}}">
                        </div>

                        <div class="form-group">
                            <label for="participant_name"> Participant Name </label>
                            <input class="form-control" type="text" value="{{form.participant.name}}" disabled>
                            <input type="hidden" name="participant_name" value="{{form.participant.name}}">
                        </div>

                        <div class="form-group">
                            <label for="date_admission"> Date Admission </label>
                            <input class="form-control" type="date" value="{{date_admission}}" disabled>
                            <input class="form-control" type="hidden" name="date_admission" value="{{date_admission}}">
                        </div>

                        <div class="form-group">
                            <label for="interviewer_id"> Interviewed By </label>
                            <input class="form-control" type="text" name="interviewer_id" value="{{interviewer.username}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="interviewed_date"> Date Interviewed </label>
                            <input class="form-control" type="date" name="date_interviewed" value="{{date_interviewed}}" disabled>
                        </div>
                    </div>

                    <div class="col-md-6 col-xs-6 col-sm-6">                                            
                        <div class="form-group">
                            <label for="created_id"> Created By  </label>
                            <input class="form-control" type="text" name="data_entry_id" value="{{form.data_entry_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="created_date"> Created Date  </label>
                            <input class="form-control" type="date" value="{% now "Y-m-d" %}" disabled>
                            <input type="hidden" name="date_data_entered" value="{{date_data_entered}}">
                        </div>
                        <div class="form-group">
                            <label for="checked_id"> Checked By </label>
                            <input class="form-control" type="text" name="data_checked_id" value="{{form.data_checked_id}}" disabled>
                        </div>

                        <div class="form-group">
                            <label for="checked_date"> Checked Date </label>
                            <input class="form-control" type="date" name="date_data_checked" value="{{date_data_checked}}" disabled>
                        </div>
                    </div>                  
                </div> <!-- end row -->
            </form>
                <div class="row">
                    <div class="col-md-6 col-xs-6 col-sm-6 col-md-offset-5">
                    </div> 
                </div> <!-- End Row -->
        </div> <!-- End of Form  -->

        <div class="row">
            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item active">Mother Demographic Data</li>
                        <li class="list-group-item">Mother Employment History</li>
                        <li class="list-group-item">Obstetric History</li>
                        <li class="list-group-item">Father Data</li>
                        <li class="list-group-item">Pre-pregnancy smoking habits</li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->

                    {% if context == "create" %}
                    <form class="formA-question" action="{% url 'forms_a:create_section1' %}" method="post" id="form_a">
                    {% else %}
                    <form class="formA-question" action="{% url 'forms_a:update_section1' %}" method="post" id="form_a">
                    {% endif %}
                        <h2>Mother Demographic Data</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <input type="hidden" name="participant_id" value={{participant.id}}>
                        <input type="hidden" name="form_id" value={{a1.id}}>
                        <div class="form-group">
                            <label for="a1m_name"> Full Name </label>
                            {% if a1 %}
                            <input class="form-control" type="text" name="a1m_name" value="{{ a1.a1m_name }}" required>
                            {% else %}
                            <input class="form-control" type="text" name="a1m_name" value="{{form.participant.name}}" required>
                            {% endif %}      
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_pob"> Place of Birth </label>
                                    <input class="form-control" type="text" name="a1m_pob" value = "{{ a1.a1m_pob }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_dob"> Date of Birth </label>
                                    <input class="form-control" type="date" name="a1m_dob" value = "{{ dob }}" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_residence_street"> Address </label>
                                    <input class="form-control" type="text" name="a1m_residence_street" value = "{{ a1.a1m_residence_street }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_residence_rt"> RT </label>
                                    <input class="form-control" type="text" name="a1m_residence_rt" value = "{{ a1.a1m_residence_rt }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_residence_rw"> RW </label>
                                    <input class="form-control" type="text" name="a1m_residence_rw" value = "{{ a1.a1m_residence_rw }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_residence_district"> District </label>
                                    <input class="form-control" type="text" name="a1m_residence_district" value = "{{ a1.a1m_residence_district }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_residence_city"> City </label>
                                    <input class="form-control" type="text" name="a1m_residence_city" value = "{{ a1.a1m_residence_city }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_residence_zipcode"> Zip Code </label>
                                    <input class="form-control" type="text" name="a1m_residence_zipcode" value = "{{ a1.a1m_residence_zipcode }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-5 col-sm-5">
                                    <label for="a1m_moving_date"> Date you moved into current address </label>
                                    <input class="form-control" type="date" name="a1m_moving_date" value = "{{ moving_date }}">
                                </div>
                                <div class="col-md-7 col-sm-7">
                                    <label for="a1m_residing_duration"> How long have your resided in the current address 
                                    </label>
                                    <input class="form-control" type="number" name="a1m_residing_duration" value = "{{ a1.a1m_residing_duration }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Residence Status </label>
                            <div class="radio">                                
                                <label>
                                    {% if a1.a1m_residential_status == "1" %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios1" value="1" checked>
                                    {% elif context == "create" %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios1" value="1">
                                    {% else %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Personal Property
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_residential_status == "2" %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios2" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios2" value="2">
                                    {% endif %}
                                    Rent
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_residential_status == "3" %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios2" value="3" checked="">
                                    {% else %}
                                    <input type="radio" name="a1m_residential_status" id="optionsRadios2" value="3">
                                    {% endif %}
                                    Family House
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="a1m_residence">Previous Residence (if any)</label> <br>
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_1st_start_year"> From</label>                                    
                                    <input class="form-control" type="number" name="a1m_previous_residence_1st_start_year" value = "{{ a1.a1m_previous_residence_1st_start_year }}"required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_1st_end_year"> To</label>
                                    <input class="form-control" type="number" name="a1m_previous_residence_1st_end_year" value = "{{ a1.a1m_previous_residence_1st_end_year }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_1st_district"> District</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_1st_district" name="a1m_previous_residence_1st_district" value = "{{ a1.a1m_previous_residence_1st_district }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_1st_city"> City</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_1st_city"
                                    name="a1m_previous_residence_1st_city" value = "{{ a1.a1m_previous_residence_1st_city }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_1st_zipcode"> Zip Code</label>
                                    <input class="form-control" type="text" name="a1m_previous_residence_1st_zipcode" value = "{{ a1.a1m_previous_residence_1st_zipcode }}" required> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_2nd_start_year"> From</label>                                    
                                    <input class="form-control" type="number" name="a1m_previous_residence_2nd_start_year" value = "{{ a1.a1m_previous_residence_2nd_start_year }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="aa1m_previous_residence_2nd_end_year"> To</label>
                                    <input class="form-control" type="number" name="a1m_previous_residence_2nd_end_year" value = "{{ a1.a1m_previous_residence_2nd_end_year }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_2nd_district"> District</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_2nd_district" name="a1m_previous_residence_2nd_district" value = "{{ a1.a1m_previous_residence_2nd_district }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_2nd_city"> City</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_2nd_city"
                                    name="a1m_previous_residence_2nd_city" value = "{{ a1.a1m_previous_residence_2nd_city }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_2nd_zipcode"> Zip Code</label>
                                    <input class="form-control" type="text" name="a1m_previous_residence_2nd_zipcode" value = "{{ a1.a1m_previous_residence_2nd_zipcode }}" required> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_3rd_start_year"> From</label>                                    
                                    <input class="form-control" type="number" name="a1m_previous_residence_3rd_start_year" value = "{{ a1.a1m_previous_residence_3rd_start_year }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_3rd_end_year"> To</label>
                                    <input class="form-control" type="number" name="a1m_previous_residence_3rd_end_year" value = "{{ a1.a1m_previous_residence_3rd_end_year }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_3rd_district"> District</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_3rd_district" name="a1m_previous_residence_3rd_district" value = "{{ a1.a1m_previous_residence_3rd_district }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_3rd_city"> City</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_3rd_city"
                                    name="a1m_previous_residence_3rd_city" value = "{{ a1.a1m_previous_residence_3rd_city }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_3rd_zipcode"> Zip Code</label>
                                    <input class="form-control" type="text" name="a1m_previous_residence_3rd_zipcode" value = "{{ a1.a1m_previous_residence_3rd_zipcode }}" required> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_4th_start_year"> From</label>                                    
                                    <input class="form-control" type="number" name="a1m_previous_residence_4th_start_year" value = "{{ a1.a1m_previous_residence_4th_start_year }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_4th_end_year"> To</label>
                                    <input class="form-control" type="number" name="a1m_previous_residence_4th_end_year" value = "{{ a1.a1m_previous_residence_4th_end_year }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_4th_district"> District</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_4th_district" name="a1m_previous_residence_4th_district" value = "{{ a1.a1m_previous_residence_4th_district }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_4th_city"> City</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_4th_city"
                                    name="a1m_previous_residence_4th_city" value = "{{ a1.a1m_previous_residence_4th_city }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_4th_zipcode"> Zip Code</label>
                                    <input class="form-control" type="text" name="a1m_previous_residence_4th_zipcode" value = "{{ a1.a1m_previous_residence_4th_zipcode }}" required> 
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_5th_start_year"> From</label>                                    
                                    <input class="form-control" type="number" name="a1m_previous_residence_5th_start_year" value = "{{ a1.a1m_previous_residence_5th_start_year }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_5th_end_year"> To</label>
                                    <input class="form-control" type="number" name="a1m_previous_residence_5th_end_year" value = "{{ a1.a1m_previous_residence_5th_end_year }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_5th_district"> District</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_5th_district" name="a1m_previous_residence_5th_district" value = "{{ a1.a1m_previous_residence_5th_district }}" required>
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_previous_residence_5th_city"> City</label>
                                    <input class="form-control" type="text" id="a1m_previous_residence_5th_city"
                                    name="a1m_previous_residence_5th_city" value = "{{ a1.a1m_previous_residence_5th_city }}" required>
                                </div>

                                <div class="col-md-2 col-sm-2">
                                    <label for="a1m_previous_residence_5th_zipcode"> Zip Code</label>
                                    <input class="form-control" type="text" name="a1m_previous_residence_5th_zipcode" value = "{{ a1.a1m_previous_residence_5th_zipcode }}" required> 
                                </div>
                            </div>
                        </div>

                       

                        
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_home_phone_number">Home Phone Number </label>                                    
                                    <input class="form-control" type="text" name="a1m_home_phone_number" value = "{{ a1.a1m_home_phone_number }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_mobile_phone_number"> Mobile Phone Number</label>
                                    <input class="form-control" type="text" name="a1m_mobile_phone_number" value = "{{ a1.a1m_mobile_phone_number }}" required>
                                </div>                                
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="a1m_email"> Email </label>
                            <input class="form-control" type="email" name="a1m_email" value = "{{ a1.a1m_email }}" required>
                        </div>

                        <div class="form-group">
                            <label> Education Level </label>
                            <div class="radio">                                
                                <label>
                                    {% if a1.a1m_education_level == "1" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios1" value="1" checked>
                                    {% elif context == "create" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios1" value="1">
                                    {% else %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Illiterate
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_education_level == "2" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="2">
                                    {% endif %}
                                    Elementary
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_education_level == "3" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="3">
                                    {% endif %}
                                    High School
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_education_level == "4" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="4">
                                    {% endif %}
                                    Undergraduate
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_education_level == "5" %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="5" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_education_level" id="optionsRadios2" value="5">
                                    {% endif %}
                                    Postgraduate
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="a1m_family_income"> Family Income </label>
                            <input class="form-control" type="number" name="a1m_family_income" value = "{{ a1.a1m_family_income }}" required>
                        </div>

                        <div class="form-group">
                            <label> Marital Status </label>
                            <div class="radio">                                
                                <label>
                                    {% if a1.a1m_marital_status == "1" %}
                                    <input type="radio" name="a1m_marital_status" id="optionsRadios1" value="1" checked>
                                    {% elif context == "create" %}
                                    <input type="radio" name="a1m_marital_status" id="optionsRadios1" value="1">
                                    {% else %}
                                    <input type="radio" name="a1m_marital_status" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Married
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a1.a1m_marital_status == "2" %}
                                    <input type="radio" name="a1m_marital_status" id="optionsRadios2" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="a1m_marital_status" id="optionsRadios2" value="2">
                                    {% endif %}
                                    Divorced/Unmarried (single parent)
                                </label>
                            </div>                            
                        </div>


                        <h3> Closest Relative </h3>
                        <div class="form-group">
                            <label for="a1m_relative_name">  Name </label>
                            <input class="form-control" type="text" name="a1m_relative_name" value = "{{ a1.a1m_relative_name }}" required>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_relative_street"> Address </label>
                                    <input class="form-control" type="text" name="a1m_relative_street" value = "{{ a1.a1m_relative_street }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_relative_rt"> RT </label>
                                    <input class="form-control" type="text" name="a1m_relative_rt" value = "{{ a1.a1m_relative_rt }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a1m_relative_rw"> RW </label>
                                    <input class="form-control" type="text" name="a1m_relative_rw" value = "{{ a1.a1m_relative_rw }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_relative_district"> District </label>
                                    <input class="form-control" type="text" name="a1m_relative_district" value = "{{ a1.a1m_relative_district }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_relative_city"> City </label>
                                    <input class="form-control" type="text" name="a1m_relative_city" value = "{{ a1.a1m_relative_city }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a1m_relative_zipcode"> Zip Code </label>
                                    <input class="form-control" type="text" name="a1m_relative_zipcode" value = "{{ a1.a1m_relative_zipcode }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_relative_home_phone_number">Home Phone Number </label>                              
                                    <input class="form-control" type="text" name="a1m_relative_home_phone_number" value = "{{ a1.a1m_relative_home_phone_number }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="a1m_relative_mobile_phone_number"> Mobile Phone Number</label>
                                    <input class="form-control" type="text" name="a1m_relative_mobile_phone_number" value = "{{ a1.a1m_relative_mobile_phone_number }}" required>
                                </div>                                
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                </div>
            </div>
        </div>

    </div>

        
    


     

</body>

</html>
