{% extends 'brief-header.html' %}
{% block content2 %}
 <!-- Page Content -->
 
        <!-- Form Umum Section -->
        <div class="mycenter">
        <div class="form-group row">
            <div class="col-md-8 col-md-offset-2">
                <a href="{{request.get_full_path}}create" class="btn btn-primary btn-lg btn-block">
                    Create Form A
                </a>
            </div>
        </div>    
        <h4 style="text-align: center; margin-top: 10%;"> List Form A ( Baseline Data) of {{ participant.name }} </h4>
        </div>
        <div class="list_all_form">
            <div class="form-group row">
                {% for form in forms %}
                    <div class="col-md-8 col-md-offset-2">
                        <a href="{{request.get_full_path}}{{form.id}}" class="btn btn-primary btn-lg btn-block">
                            Form A - Baseline 
                        </a>
                    </div>
                {% endfor %}
            </div>            
        </div>      

{% endblock %}