{% extends 'brief-header.html' %}
{% block content2 %}
 <!-- Page Content -->

    <!--<div class="container"> -->
        <!-- Form Umum Section -->

        <div class="list_all_form">
            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{% url 'core:form_a' %}"  method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="participant_id" value={{participant.id}}>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Form A - Baseline"/>
                    </form>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form B - Pregnancy Trimester I </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form B - Pregnancy Trimester II </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form B - Pregnancy Trimester III </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form C - Birth Delivery </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <form action="{% url 'core:form_d' %}"  method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="participant_id" value={{participant.id}}>
                        <input type="submit" class="btn btn-primary btn-lg btn-block" value="Form D - Infant"/>
                    </form>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form D - Infant First Visit  </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form D - Infant Second Visit </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form D - Infant Third Visit </a>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-8 col-md-offset-2">
                    <a href="#" type="submit" class="btn btn-primary btn-lg btn-block">Form D - Infant Fourth Visit </a>
                </div>
            </div>

            
        </div>      
 <!--   </div> -->
{% endblock %}