{% extends 'brief-header.html' %}
{% block content2 %}
 <!-- Page Content -->
 
        <!-- Form Umum Section -->
        {% if forms.count < 1 %}
        <div class="mycenter">
        <div class="form-group row">
            <div class="col-md-8 col-md-offset-2">
                <a href="{{request.get_full_path}}create" class="btn btn-primary btn-lg btn-block"> Create Form D
                </a>
            </div>
        </div>    
        </div>
        {% endif %}
        <h4 style="text-align: center; margin-top: 2%;"> List Form D ( Infant Data) - {{ visiting_number }} Visit of {{ participant.name }} </h4>
        <div class="list_all_form">
            <div class="form-group row">
                {% for form in forms %}
                    <div class="col-md-8 col-md-offset-2">
                        <a href="{{request.get_full_path}}{{form.id}}" class="btn btn-primary btn-lg btn-block">
                            Form D ( Infant Data ) - {{ participant.name }} 
                        </a>
                    </div>
                {% endfor %}
            </div>            
        </div>      

{% endblock %}