{% extends 'brief-header.html' %}
{% block content2 %}
 <!-- Page Content -->
 
        <!-- Form Umum Section -->
        <div class="mycenter">
        <form action="{% url 'forms_b1:create_form' %}"  method="GET">
            {% csrf_token %}
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Create Form B"/>        
        </form>    
        

        <h4 style="text-align: center; margin-top: 10%;"> List Form B ( Baseline Data) of {{ participant.name }} </h4>
        </div>

        <div class="list_all_form">
            <div class="form-group row">
                {% for form in forms %}
                    <div class="col-md-8 col-md-offset-2">
                        <form action="{% url 'forms_b1:process_sectionB1A' %}"  method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value={{form.id}}>
                            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Form B1 - Pregnancy Trimester I"/>
                        </form>
                    </div>
                {% endfor %}
            </div>            
        </div>      

{% endblock %}