{% extends 'brief-header.html' %}
{% block content2 %}
 <!-- Page Content -->
 
        <!-- Form Umum Section -->
        
    <div class="mycenter">
        <div class="form-group row">
            {% if forms.count < child_list.count %}
            
            <h4 style="text-align: center; margin-top: 10px;"> List Form D ( Infant Data) - {{ visiting_number }} Visit of {{ participant.name }} </h4>

            <div class="col-md-8 col-md-offset-2">
                <a href="{{request.get_full_path}}create" class="btn btn-primary btn-lg btn-block">
                    Create Form D
                </a>
            </div>

            {% else %}
            
            <h4 style="text-align: center; margin-top: 10px;"> List Form D ( Infant Data) - {{ visiting_number }} Visit of {{ participant.name }} </h4>
            
            {% endif %}
        </div>
    </div>
        
        
        <div class="list_all_form">
            {% for form in forms %}
            <div class="form-group row">
                    <div class="col-md-8 col-md-offset-2">
                        <a href="{{request.get_full_path}}{{form.id}}" class="btn btn-primary btn-lg btn-block">
                            {% if form.data_checked_id != None and form.data_checked_id != "" %}
                                Form D - {{ form.child_name }} - {{ form.data_entry_id }}  - Checked
                            {% elif form.is_save_all %}
                                Form D - {{ form.child_name }} - {{ form.data_entry_id }} - Submitted
                            {% else %}
                                Form D - {{ form.child_name }} - {{ form.data_entry_id }} -   On Progress    
                            {% endif %} 
                        </a>
                    </div>
            </div>
            {% endfor %}            
        </div>      

{% endblock %}