{% extends 'base.html' %}
{% block content %}
<!-- Page Content -->
    <div class="container">

        <div class="row">
            <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#createModal"> Create Participant </button>
        </div>     

        <!-- Modal Create Participant --> 

         <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="createModallabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="createModal">Create Participant</h4>
              </div>
              <form action="{% url 'core:create_participant' %}"  method="POST">
                  {% csrf_token %}
                  <div class="modal-body">
                        <div class="form-group">
                                <label for="participant_name"> Participant Name </label>
                                <input class="form-control " type="text" name="participant_name" id="participant_name">
                        </div>
                        <div class="form-group">
                                <label for="puskesmas"> Puskesmas </label>
                                <!--<input class="form-control " type="text" name="puskesmas_code" id="puskesmas_code">-->
                                <select class="form-control selectpicker" name="puskesmas">
                                  {% for puskesmas in puskesmas_list %}
                                  <option value={{puskesmas.id}}>{{ puskesmas.name }}</option>
                                  {% endfor %}
                                </select>
                        </div>
                        
                        <div class="form-group">
                                <label for="date_admission"> Date Admission </label>
                                <input class="form-control" type="date" id="date_admission" name="date_admission" required>
                        </div>
                                
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Create Participant"/>
                  </div>
                </form>
            </div>
          </div>
        </div> 
        <!-- End of Modal Create Participant-->

        <!-- Modal Edit Participant --> 
         <!-- <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="createModallabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="editModal">Edit Participant</h4>
              </div>
              <form action="{% url 'core:edit_participant' participant_id=1%}"  method="POST">
                  {% csrf_token %}
                  <div class="modal-body">
                        <div class="form-group">
                                <label for="participant_name"> Participant Name </label>
                                <input class="form-control " type="text" name="participant_name_edit" id="participant_name_edit">
                        </div>
                        <div class="form-group">
                                <label for="date_admission"> Date Admission </label>
                                <input class="form-control" type="date" id="participant_date_edit" name="participant_date_edit" required>
                        </div>
                                
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Save"/>
                  </div>
                </form>
            </div>
          </div>
        </div>  -->
        <!-- End of Modal Edit Participant-->


        <div class="row">         
           <h3> List of Participants </h3>
           <!-- <h4> Number of Registered Participant: {{ participants.count }} </h4>
           {% for item in number_of_participants_list %}
              <h4>{{ item }}</h4>
           {% endfor %} -->
            
          <!-- <table id="myTable" class="table table-striped table-bordered nowrap" cellspacing="0" width="100%"> -->

           <table id="myTable" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <!-- <th>Forms</th> -->
                        <th>Participant_ID</th>
                        <th>Name</th>
                        <th>Date Admission </th>
                        <th>Created by</th>
                    </tr>
                </thead>            
                <tbody>
                    {% for participant in participants %}
                        <tr>
                            <!-- <td>
                              <a href="{{request.get_full_path}}{{participant.id}}" class="btn 
                              btn-primary">Forms</a>
                            </td> -->
                            <td>{{ participant.participant_id }}</td>
                            <td class='clickable-row' data-href="{{request.get_full_path}}{{participant.id}}">{{ participant.name }}</td>
                            <td class='clickable-row' data-href="{{request.get_full_path}}{{participant.id}}">{{ participant.date_admission }}</td>
                            <td class='clickable-row' data-href="{{request.get_full_path}}{{participant.id}}">{{ participant.created_by }}</td>
                            <!-- <td>
                              <a class="btn btn-info" data-toggle="modal" data-target="#editModal"> Edit Participant </a>
                            </td> -->
                        </tr>                      
                    {% endfor %}     
                </tbody>
           </table>
        </div> 
    </div>
    <!-- /.container -->
{% endblock %}