{% extends 'forms_d/form.html' %}
{% block form_section %}
    <!-- Page Content -->
    <script>
        $(document).ready(function(){
            
            if($('#yesTravel').is(':checked')){
                $("#travelHistory").removeClass('hidden');
                $("#travelHistory :input").prop("readonly", false);
            }
            else{
                $("#travelHistory").addClass('hidden');
                $("#travelHistory :input").removeAttr('value');
                $("#travelHistory :input").prop("readonly", true);
                $("#travelHistory :input").prop("required", false);
            }

            $('#yesTravel').click(function(){
                $("#travelHistory").removeClass('hidden');
                $("#travelHistory :input").prop("readonly", false);
            });

            $('#noTravel').click(function(){
                $("#travelHistory").addClass('hidden');
                $("#travelHistory :input").removeAttr('value');
                $("#travelHistory :input").prop("readonly", true);
                $("#travelHistory :input").prop("required", false);
            });


            if($('#d8m_other').is(':checked')){
                $("#d8m_other_detail").removeClass('hidden');
                $("#d8m_other_detail :input").prop("readonly", false);
                $("#d8m_other_detail :input").prop("required", true);
            }
            else{
                $("#d8m_other_detail").addClass('hidden');
                $("#d8m_other_detail :input").removeAttr('value');
                $("#d8m_other_detail :input").prop("readonly", true);
                $("#d8m_other_detail :input").prop("required", false);
            }

            $('#d8m_other').click(function(){
                if (this.checked) {
                    $("#d8m_other_detail").removeClass('hidden');
                    $("#d8m_other_detail :input").prop("readonly", false);
                    $("#d8m_other_detail :input").prop("required", true);
                }
                else{
                    $("#d8m_other_detail").addClass('hidden');
                    $("#d8m_other_detail :input").removeAttr('value');
                    $("#d8m_other_detail :input").prop("readonly", true);
                    $("#d8m_other_detail :input").prop("required", false);
                }
            });


            if($('#yes_pet').is(':checked')){
                $("#pet_detail").removeClass('hidden');
                $("#pet_detail :input").prop("readonly", false);
                $("#pet_detail :input").prop("required", true);
            }
            else{
                $("#pet_detail").addClass('hidden');
                $("#pet_detail :input").removeAttr('value');
                $("#pet_detail :input").prop("readonly", true);
                $("#pet_detail :input").prop("required", false);
            }

            $('#yes_pet').click(function(){
                $("#pet_detail").removeClass('hidden');
                $("#pet_detail :input").prop("readonly", false);
                $("#pet_detail :input").prop("required", true);
            });

            $('#no_pet').click(function(){
                $("#pet_detail").addClass('hidden');
                $("#pet_detail :input").removeAttr('value');
                $("#pet_detail :input").prop("readonly", true);
                $("#pet_detail :input").prop("required", false);
            });


            if($("#landed_house").is(':checked')){
                console.log("1");
                $("#flat_level_number").addClass('hidden');
                $("#flat_level_number :input").removeAttr('value');
                $("#flat_level_number :input").prop("readonly", true);
                $("#flat_level_number :input").prop("required", false);

                $("#landed_house_type").removeClass('hidden');
                $("#landed_house_type :input").prop("readonly", false);
                $("#landed_house_type :input").prop("required", true);         
            }
            else if($("#flat").is(':checked')) {
                console.log("2");
                $("#landed_house_type").addClass('hidden');
                $("#landed_house_type :input").removeAttr('value');
                $("#landed_house_type :input").prop("readonly", true);
                $("#landed_house_type :input").prop("required", false);
                $("#one_story").val("1")
                $("#more_than_one").val("2")
                

                $("#flat_level_number").removeClass('hidden');
                $("#flat_level_number :input").prop("readonly", false);
                $("#flat_level_number :input").prop("required", true);
            }
            else{
                console.log("3");
                $("#flat_level_number").addClass('hidden');
                $("#flat_level_number :input").removeAttr('value');
                $("#flat_level_number :input").prop("readonly", true);
                $("#flat_level_number :input").prop("required", false);

                $("#landed_house_type").addClass('hidden');
                $("#landed_house_type :input").removeAttr('value');
                $("#landed_house_type :input").prop("readonly", true);
                $("#landed_house_type :input").prop("required", false);
                $("#one_story").val("1")
                $("#more_than_one").val("2")
            }

            $("#landed_house").click(function(){
                $("#flat_level_number").addClass('hidden');
                $("#flat_level_number :input").removeAttr('value');
                $("#flat_level_number :input").prop("readonly", true);
                $("#flat_level_number :input").prop("required", false);

                $("#landed_house_type").removeClass('hidden');
                $("#landed_house_type :input").prop("readonly", false);
                $("#landed_house_type :input").prop("required", true);
            });

            $("#flat").click(function(){
                $("#landed_house_type").addClass('hidden');
                $("#landed_house_type :input").removeAttr('value');
                $("#landed_house_type :input").prop("readonly", true);
                $("#landed_house_type :input").prop("required", false);
                $("#one_story").val("1")
                $("#more_than_one").val("2")

                $("#flat_level_number").removeClass('hidden');
                $("#flat_level_number :input").prop("readonly", false);
                $("#flat_level_number :input").prop("required", true);
            });

        });
    </script>
            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section1"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section2"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section3"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section4"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section5"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section6"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section7"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item actives">
                            <a href="{{request.get_full_path}}/../section8"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% endif %}
                        <h2>Outdoor/Indoor Pollutant Exposure and Travel Habits</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <div id="">
                            <h4>Do you use the following cooking fuel in this period?</h4>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_charcoal %}
                                        <input class="form-check-input" name="d8m_charcoal" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_charcoal" type="checkbox">
                                        {% endif %}
                                        Charcoal
                                    </label>
                            </div>
                            <div class="form-check">        
                                    <label class="form-check-label">
                                        {% if d8.d8m_kerosene %}
                                        <input class="form-check-input" name="d8m_kerosene" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_kerosene" type="checkbox">
                                        {% endif %}
                                        Kerosene
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_wood %}
                                        <input class="form-check-input" name="d8m_wood" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_wood" type="checkbox">
                                        {% endif %}
                                        Wood
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_gas %}
                                        <input class="form-check-input" name="d8m_gas" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_gas" type="checkbox">
                                        {% endif %}
                                        Gas
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_electric %}
                                        <input class="form-check-input" name="d8m_electric" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_electric" type="checkbox">
                                        {% endif %}
                                        Electric
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_other %}
                                        <input class="form-check-input" name="d8m_other" type="checkbox" id="d8m_other" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_other" type="checkbox" id="d8m_other">
                                        {% endif %}
                                        Other, specify
                                    </label>
                            </div>        
                            <div class="form-check" id="d8m_other_detail">
                                    <input class="form-control" type="text" name="d8m_other_detail" value="{{d8.d8m_other_detail}}" required>       
                            </div>
                        </div>

                        <div class="form-group" id="">                        
                            <h4> Does cooking fumes goes out of the house? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_cooking_exhaust %}
                                <input type="radio" name="d8m_cooking_exhaust" id="optionsRadios1" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_cooking_exhaust" id="optionsRadios1" value="1" required>
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_cooking_exhaust %}
                                <input type="radio" name="d8m_cooking_exhaust" id="optionsRadios2" value="0" required>
                                {% elif d8.d8m_cooking_exhaust == False %}
                                <input type="radio" name="d8m_cooking_exhaust" id="optionsRadios2" value="0" checked required>
                                {% else %}
                                <input type="radio" name="d8m_cooking_exhaust" id="optionsRadios2" value="0" required>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="">                        
                            <h4> Do you use any insecticide/pesticide at home? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_pesticide %}
                                <input type="radio" name="d8m_pesticide" id="optionsRadios1" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_pesticide" id="optionsRadios1" value="1" required>
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_pesticide %}
                                <input type="radio" name="d8m_pesticide" id="optionsRadios2" value="0" required>
                                {% elif d8.d8m_pesticide == False %}
                                <input type="radio" name="d8m_pesticide" id="optionsRadios2" value="0" checked required>
                                {% else %}
                                <input type="radio" name="d8m_pesticide" id="optionsRadios2" value="0" required>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div id="">
                            <h4>Do you do garbage burning?</h4>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_garbage_burning == '0' %}
                                        <input class="form-check-input" name="d8m_garbage_burning" type="radio" value="0" checked required>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_garbage_burning" value="0" type="radio" required>
                                        {% endif %}
                                        No
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_garbage_burning == '1' %}
                                        <input class="form-check-input" name="d8m_garbage_burning" type="radio" value="1" checked required>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_garbage_burning" value="1" type="radio" required>
                                        {% endif %}
                                        Once per week or less
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_garbage_burning == '2' %}
                                        <input class="form-check-input" name="d8m_garbage_burning" type="radio" value="2" checked required>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_garbage_burning" value="2" type="radio" required>
                                        {% endif %}
                                        More than once per week but not daily
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_garbage_burning == '3' %}
                                        <input class="form-check-input" name="d8m_garbage_burning" type="radio" value="3" checked required>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_garbage_burning" value="3" type="radio" required>
                                        {% endif %}
                                        Daily
                                    </label>
                            </div>
                        </div>

                        <div class="form-group" id="">                        
                            <h4> Do you have any pet inside or around the house? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_pet %}
                                <input type="radio" name="d8m_pet" id="yes_pet" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_pet" id="yes_pet" value="1" required>
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_pet %}
                                <input type="radio" name="d8m_pet" id="no_pet" value="0" required>
                                {% elif d8.d8m_pet == False %}
                                <input type="radio" name="d8m_pet" id="no_pet" value="0" checked required>
                                {% else %}
                                <input type="radio" name="d8m_pet" id="no_pet" value="0" required>
                                {% endif %}
                                No
                                </label>
                            </div>
                            <div class="form-check" id="pet_detail">
                                    <input class="form-control" type="text" name="d8m_pet_detail" value="{{ d8.d8m_pet_detail }}" required>       
                            </div>                        
                        </div>

                        <div class="form-group" id="">                        
                            <h4> What kind of house do you live in now? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_housing_type == "1" %}
                                <input type="radio" name="d8m_housing_type" id="landed_house" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_housing_type" id="landed_house" value="1" required>
                                {% endif %}
                                Landed House
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_housing_type == "2" %}
                                <input type="radio" name="d8m_housing_type" id="flat" value="2" checked required>
                                {% else %}
                                <input type="radio" name="d8m_housing_type" id="flat" value="2" required>
                                {% endif %}
                                Flat/Apartment, specify the level number:
                                </label>
                            </div>
                            <div class="form-check" id="flat_level_number">
                                    <input class="form-control" type="number" name="d8m_apartment_level_number" value="{{ d8.d8m_apartment_level_number }}" required>       
                            </div>
                        </div>

                        <div class="form-group" id="landed_house_type">                        
                            <h4> Landed House Type? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_landed_house_type == "1" %}
                                <input type="radio" name="d8m_landed_house_type" id="one_story" value="1" checked>
                                {% else %}
                                <input type="radio" name="d8m_landed_house_type" id="one_story" value="1">
                                {% endif %}
                                One story building
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_landed_house_type == "2" %}
                                <input type="radio" name="d8m_landed_house_type" id="more_than_one" value="2" checked>
                                {% else %}
                                <input type="radio" name="d8m_landed_house_type" id="more_than_one" value="2">
                                {% endif %}
                                More than one story building
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="">                        
                            <h4> Is there any dampness or molds inside your house? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_dampness_house %}
                                <input type="radio" name="d8m_dampness_house" id="optionsRadios1" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_dampness_house" id="optionsRadios1" value="1" required>
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_dampness_house %}
                                <input type="radio" name="d8m_dampness_house" id="optionsRadios2" value="0" required>
                                {% elif d8.d8m_dampness_house == False %}
                                <input type="radio" name="d8m_dampness_house" id="optionsRadios2" value="0" checked required>
                                {% else %}
                                <input type="radio" name="d8m_dampness_house" id="optionsRadios2" value="0" required>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div id="">
                            <h4>Do you use any of the following equipment inside your house?</h4>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_ac %}
                                        <input class="form-check-input" name="d8m_ac" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_ac" type="checkbox">
                                        {% endif %}
                                        Air conditioner
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_fan %}
                                        <input class="form-check-input" name="d8m_fan" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_fan" type="checkbox">
                                        {% endif %}
                                        Electric fan
                                    </label>
                            </div>
                            <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d8.d8m_air_filter %}
                                        <input class="form-check-input" name="d8m_air_filter" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d8m_air_filter" type="checkbox">
                                        {% endif %}
                                        Air filtering device
                                    </label>
                            </div>    
                        </div>

                        <div class="form-group" id="">                        
                            <h4> Have you travelled out of Jakarta or stayed in another place other than your current residence? </h4>
                            <div class="radio">                                
                                <label>
                                {% if d8.d8m_staying_out_history %}
                                <input type="radio" name="d8m_staying_out_history" id="yesTravel" value="1" checked required>
                                {% else %}
                                <input type="radio" name="d8m_staying_out_history" id="yesTravel" value="1" required>
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d8.d8m_staying_out_history %}
                                <input type="radio" name="d8m_staying_out_history" id="noTravel" value="0" required>
                                {% elif d8.d8m_staying_out_history == False %}
                                <input type="radio" name="d8m_staying_out_history" id="noTravel" value="0" checked required>
                                {% else %}
                                <input type="radio" name="d8m_staying_out_history" id="noTravel" value="0" required>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div id="travelHistory">
                        <div class="form-group">
                            <h4> First Travel </h4>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d8m_staying_out_1st_street"> Address </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_street" value ="{{ d8.d8m_staying_out_1st_street }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="d8m_staying_out_1st_rt"> RT </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_rt" value ="{{ d8.d8m_staying_out_1st_rt }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="d8m_staying_out_1st_rw"> RW </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_rw" value ="{{ d8.d8m_staying_out_1st_rw }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_1st_district"> District </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_district" value ="{{ d8.d8m_staying_out_1st_district }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_1st_city"> City </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_city" value ="{{ d8.d8m_staying_out_1st_city }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_1st_zipcode"> Zip Code </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_1st_zipcode" value ="{{ d8.d8m_staying_out_1st_zipcode }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <label for="a1m_residing_duration"> Duration of stay (in days)
                                    </label>
                                    <input class="form-control" type="number" name="d8m_staying_out_1st_duration" value ="{{ d8.d8m_staying_out_1st_duration }}">
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <h4> Second Travel </h4>
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d8m_staying_out_2nd_street"> Address </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_street" value="{{ d8.d8m_staying_out_2nd_street }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="d8m_staying_out_2nd_rt"> RT </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_rt" value ="{{ d8.d8m_staying_out_2nd_rt }}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="d8m_staying_out_2nd_rw"> RW </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_rw" value ="{{ d8.d8m_staying_out_2nd_rw }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_2nd_district"> District </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_district" value ="{{ d8.d8m_staying_out_2nd_district }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_2nd_city"> City </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_city" value ="{{ d8.d8m_staying_out_2nd_city }}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="d8m_staying_out_2nd_zipcode"> Zip Code </label>
                                    <input class="form-control" type="text" name="d8m_staying_out_2nd_zipcode" value ="{{ d8.d8m_staying_out_2nd_zipcode }}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-7 col-sm-7">
                                    <label for="a1m_residing_duration"> Duration of stay (in days)
                                    </label>
                                    <input class="form-control" type="number" name="d8m_staying_out_2nd_duration" value ="{{ d8.d8m_staying_out_2nd_duration }}">
                                </div>
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="d8_notes">Notes</label>          
                                    <textarea class="form-control" rows="5" name="d8_notes"> {{ d8.d8_notes }} </textarea>
                                </div>   
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                </div>
                        {% if role != 'staff' %}
                            {% if date_data_checked %}

                            {% else %}

                                {% if is_save_all %}
                                <form action="{{request.get_full_path}}/../edit" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_id" value={{form.id}}>
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                                </form>
                                {% endif %}
                                
                            {% endif %}
                        {% endif %}

                 </div>
{% endblock %}
