{% extends 'forms_d/form.html' %}
{% block form_section %}
    <!-- Page Content -->
    <script>
        $(document).ready(function(){
            if($("#yesRespiratory").is(':checked')){
                $("#respiratory_symptom").removeClass('hidden');
                $("#respiratory_symptom :input").prop("readonly", false);
                $("#respiratory_symptom :input").prop("required", true);
                $("#respiratory_symptom :checkbox").prop("required", false);
            }
            else{
                $("#respiratory_symptom").addClass('hidden');
                $("#respiratory_symptom :input").removeAttr('value');
                $("#respiratory_symptom :input").prop("readonly", true);
                $("#respiratory_symptom :input").prop("checked", false);
                $("#respiratory_symptom :input").prop("required", false);
                $("#respiratory_symptom :checkbox").prop("required", false);
            }


            $("#yesRespiratory").click(function(){
                $("#respiratory_symptom").removeClass('hidden');
                $("#respiratory_symptom :input").prop("readonly", false);
                $("#respiratory_symptom :input").prop("required", true);
                $("#respiratory_symptom :checkbox").prop("required", false);
                console.log( "Yes" );
            });

            $("#noRespiratory").click(function(){
                $("#respiratory_symptom").addClass('hidden');
                $("#respiratory_symptom :input").removeAttr('value');
                $("#respiratory_symptom :input").prop("readonly", true);
                $("#respiratory_symptom :input").prop("checked", false);
                $("#respiratory_symptom :input").prop("required", false);
                $("#respiratory_symptom :checkbox").prop("required", false);
                console.log( "No" );

            });

        });
    </script>

            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section1' %}"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section2'%}"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section3'%}"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="{% url 'forms_d:process_section4'%}"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section5'%}"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section6'%}"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section7'%}"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{% url 'forms_d:process_section8'%}"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{% url 'forms_d:process_section4' %}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{% url 'forms_d:process_section4' %}" method="post" id="form_d">
                    {% endif %}
                        <h2>Infant Lung Function and Respiratory Symptoms</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <div class="form-group">
                            <label for="d4c_date_lung"> Date of measurement </label>
                            <input class="form-control" type="date" name="d4c_date_lung" value="{{ d4.d4c_date_lung | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-group">
                            <label for="d4c_examiner_lung"> Examiner initial </label>
                            {% if d4 %}
                            <input class="form-control" type="text" name="d4c_examiner_lung" value="{{ d4.d4c_examiner_lung }}" required>
                            {% else %}
                            <input class="form-control" type="text" name="d4c_examiner_lung" value="{{ d4.d4c_examiner_lung }}" required>
                            {% endif %}      
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_resistance_1st"> Resistance (kPa.s/L) 1st</label>
                                    <input class="form-control" type="number" step="any" name="d4c_resistance_1st" value = "{{ d4.d4c_resistance_1st }}" required>
                                </div>

                                 <div class="col-md-6 col-sm-6">
                                    <label for="d4c_resistance_2nd"> Resistance (kPa.s/L) 2nd</label>
                                    <input class="form-control" type="number" step="any" name="d4c_resistance_2nd" value = "{{ d4.d4c_resistance_2nd }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_compliance_1st"> Compliance (ml/kPa) 1st</label>
                                    <input class="form-control" type="number" step="any" name="d4c_compliance_1st" value = "{{ d4.d4c_compliance_1st }}" required>
                                </div>

                                 <div class="col-md-6 col-sm-6">
                                    <label for="d4c_compliance_1st"> Compliance (ml/kPa) 2nd</label>
                                    <input class="form-control" type="number" step="any" name="d4c_compliance_2nd" value = "{{ d4.d4c_compliance_2nd }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_time_constant_1st"> Time constant 1st</label>
                                    <input class="form-control" type="number" step="any" name="d4c_time_constant_1st" value = "{{ d4.d4c_time_constant_1st }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_time_constant_2nd"> Time constant 2nd</label>
                                    <input class="form-control" type="number" step="any" name="d4c_time_constant_2nd" value = "{{ d4.d4c_time_constant_2nd }}" required>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_fvc_1st"> FVC 1st</label>
                                    <input class="form-control" type="number" step="any" name="d4c_fvc_1st" value = "{{ d4.d4c_fvc_1st }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_fvc_2nd"> FVC 2nd</label>
                                    <input class="form-control" type="number" step="any" name="d4c_fvc_2nd" value = "{{ d4.d4c_fvc_2nd }}" required>
                                </div>
                            </div>
                        </div>

                         <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_fev_1st"> FEV 1st</label>
                                    <input class="form-control" type="number" step="any" name="d4c_fev_1st" value = "{{ d4.d4c_fev_1st }}" required>
                                </div>

                                <div class="col-md-6 col-sm-6">
                                    <label for="d4c_fev_2nd"> FEV 2nd</label>
                                    <input class="form-control" type="number" step="any" name="d4c_fev_2nd" value = "{{ d4.d4c_fev_2nd }}" required>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label> Has the baby had any respiratory symptom in the past 8 weeks? </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_respiratory_symptom %}
                                    <input type="radio" name="d4c_respiratory_symptom" id="yesRespiratory" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_respiratory_symptom" id="yesRespiratory" value="1">
                                    {% endif %}
                                    Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_respiratory_symptom %}
                                    <input type="radio" name="d4c_respiratory_symptom" id="noRespiratory" value="0">
                                    {% else %}
                                    <input type="radio" name="d4c_respiratory_symptom" id="noRespiratory" value="0" checked>
                                    {% endif %}
                                    No
                                </label>
                            </div>
                        </div>

                        <div id="respiratory_symptom">
                        <div class="form-group">
                            <label> Dry cough </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_dry_cough == "0" %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_dry_cough == "1" %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_dry_cough == "2" %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_dry_cough == "3" %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_dry_cough == "4" %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_dry_cough" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label> Phlegmy cough </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_phlegmy_cough == "0" %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_phlegmy_cough == "1" %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_phlegmy_cough == "2" %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_phlegmy_cough == "3" %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_phlegmy_cough == "4" %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_phlegmy_cough" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Runny nose </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_runny_nose == "0" %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_runny_nose == "1" %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_runny_nose == "2" %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_runny_nose == "3" %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_runny_nose == "4" %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_runny_nose" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>
                        
                        <div class="form-group">
                            <label> Stuffed nose </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stuffed_nose == "0" %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stuffed_nose == "1" %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stuffed_nose == "2" %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stuffed_nose == "3" %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stuffed_nose == "4" %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stuffed_nose" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Wheeze </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_wheeze == "0" %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_wheeze == "1" %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_wheeze == "2" %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_wheeze == "3" %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_wheeze == "4" %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_wheeze" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Shortness of breath</label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_breath_shortness == "0" %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_breath_shortness == "1" %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_breath_shortness == "2" %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_breath_shortness == "3" %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_breath_shortness == "4" %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_breath_shortness" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Rattly chest </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_rattly_chest == "0" %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_rattly_chest == "1" %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_rattly_chest == "2" %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_rattly_chest == "3" %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_rattly_chest == "4" %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_rattly_chest" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Snoring </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_snoring == "0" %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_snoring == "1" %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_snoring == "2" %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_snoring == "3" %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_snoring == "4" %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_snoring" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Stridor </label>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stridor == "0" %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="0">
                                    {% endif %}
                                    Not at all
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stridor == "1" %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Once
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stridor == "2" %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="2">
                                    {% endif %}
                                    Twice
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stridor == "3" %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="3">
                                    {% endif %}
                                    3 or more
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d4.d4c_stridor == "4" %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="d4c_stridor" id="optionsRadios1" value="4">
                                    {% endif %}
                                    Every day
                                </label>
                            </div>
                        </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{% url 'forms_d:edit_form' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="section_number" value=1>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %} 
                </div>
            </div>
 {% endblock %}
