{% extends 'forms_d/form.html' %}
{% block form_section %}
    <!-- Page Content -->
    <script>
        function validateForm() {
            if($("#yesBreastfed").is(':checked')){
               return true;
            }
            else if($('#d2c_infant_formula').is(':checked') || $('#d2c_weaning_food').is(':checked')){
                return true;
            }
            else{
                return false;
            }
        }

        $(document).ready(function(){
            if($("#yesBreastfed").is(':checked')){
                $("#foodsGiven").addClass('hidden');
                $("#foodsGiven :input").removeAttr('value');
                $("#foodsGiven :input").prop("readonly", true);
                $("#foodsGiven :input").prop("checked", false);
                $("#foodsGiven :input").prop("required", false);
                $("#foodsGiven :checkbox").prop("required", false);

            }
            else if($("#noBreastfed").is(':checked')){
                $("#foodsGiven").removeClass('hidden');
                $("#foodsGiven :input").prop("readonly", false);
                $("#foodsGiven :input").prop("required", true);
                $("#foodsGiven :checkbox").prop("required", false);

                if($('#d2c_infant_formula').is(':checked')){
                    $("#infant_formula").removeClass('hidden');
                    $("#infant_formula :input").prop("readonly", false);
                    $("#infant_formula :input").prop("required", true);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", true);
                }
                else{
                    $("#infant_formula").addClass('hidden');
                    $("#infant_formula :input").removeAttr('value');
                    $("#infant_formula :input").prop("readonly", true);
                    $("#infant_formula :input").prop("required", false);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", false);
                }

                if($('#d2c_weaning_food').is(':checked')){
                    $("#weaning_food").removeClass('hidden');
                    $("#weaning_food :input").prop("readonly", false);
                    $("#weaning_food :input").prop("required", true);
                    $("#weaning_food :checkbox").prop("required", false);
                }
                else{
                    $("#weaning_food").addClass('hidden');
                    $("#weaning_food :input").removeAttr('value');
                    $("#weaning_food :input").prop("readonly", true);
                    $("#weaning_food :input").prop("required", false);
                    $("#weaning_food :checkbox").prop("required", false);
                }
            }
            else{
                $("#foodsGiven").addClass('hidden');
            }


            $("#yesBreastfed").click(function(){
                $("#foodsGiven").addClass('hidden');
                $("#foodsGiven :input").removeAttr('value');
                $("#foodsGiven :input").prop("readonly", true);
                $("#foodsGiven :input").prop("checked", false);
                $("#foodsGiven :input").prop("required", false);
                $("#foodsGiven :checkbox").prop("required", false);
                
            });

            $("#noBreastfed").click(function(){
                $("#foodsGiven").removeClass('hidden');
                $("#foodsGiven :input").prop("readonly", false);
                $("#foodsGiven :input").prop("required", true);
                $("#foodsGiven :checkbox").prop("required", false);

                if($('#d2c_infant_formula').is(':checked')){
                    $("#infant_formula").removeClass('hidden');
                    $("#infant_formula :input").prop("readonly", false);
                    $("#infant_formula :input").prop("required", true);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", true);
                }
                else{
                    $("#infant_formula").addClass('hidden');
                    $("#infant_formula :input").removeAttr('value');
                    $("#infant_formula :input").prop("readonly", true);
                    $("#infant_formula :input").prop("required", false);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", false);
                }

                if($('#d2c_weaning_food').is(':checked')){
                    $("#weaning_food").removeClass('hidden');
                    $("#weaning_food :input").prop("readonly", false);
                    $("#weaning_food :input").prop("required", true);
                    $("#weaning_food :checkbox").prop("required", false);
                }
                else{
                    $("#weaning_food").addClass('hidden');
                    $("#weaning_food :input").removeAttr('value');
                    $("#weaning_food :input").prop("readonly", true);
                    $("#weaning_food :input").prop("required", false);
                    $("#weaning_food :checkbox").prop("required", false);
                }
                
            });

            $('#d2c_infant_formula').click(function(){
                if (this.checked) {
                    $("#infant_formula").removeClass('hidden');
                    $("#infant_formula :input").prop("readonly", false);
                    $("#infant_formula :input").prop("required", true);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", true);
                    
                }
                else{
                    $("#infant_formula").addClass('hidden');
                    $("#infant_formula :input").removeAttr('value');
                    $("#infant_formula :input").prop("readonly", true);
                    $("#infant_formula :input").prop("required", false);
                    $("#infant_formula :checkbox").prop("required", false);
                    $("#d2c_age_formula").prop("required", false);
                     
                }
            })

           $('#d2c_weaning_food').click(function(){
                if (this.checked) {
                    $("#weaning_food").removeClass('hidden');
                    $("#weaning_food :input").prop("readonly", false);
                    $("#weaning_food :input").prop("required", true);
                    $("#weaning_food :checkbox").prop("required", false);
                    
                }
                else{
                    $("#weaning_food").addClass('hidden');
                    $("#weaning_food :input").removeAttr('value');
                    $("#weaning_food :input").prop("readonly", true);
                    $("#weaning_food :input").prop("required", false);
                    $("#weaning_food :checkbox").prop("required", false);
                }
            })

        });
    </script>

            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section1"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="{{request.get_full_path}}/../section2"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section3"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section4"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section5"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section6"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section7"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section8"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d" onsubmit="return validateForm()">
                        <h2>Infant Feeding Data</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <fieldset class="form-group">
                                <label for="a2m_working_pregnancy"> Is your baby currently still fully breastfed? </label>
                                {% if d2.d2c_breast_feeding_status == None %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="1" id="yesBreastfed" required>
                                        Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="0" id="noBreastfed" required>
                                        No
                                        </label>
                                    </div>
                                {% elif d2.d2c_breast_feeding_status %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="1" id="yesBreastfed" checked required>
                                        Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="0" id="noBreastfed" required>
                                        No
                                        </label>
                                    </div>
                                {% else %}
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="1" id="yesBreastfed" required>
                                        Yes
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="radio" class="form-check-input" name="d2c_breast_feeding_status" value="0" id="noBreastfed" checked required>
                                        No
                                        </label>
                                    </div>
                                
                                {% endif %}                            
                        </fieldset>

                        <fieldset class="form-group" id="foodsGiven">
                                <label id="foodsGivenQuestion">What sort of foods that you have started to give? (at least one option should be chosen)</label> 
                                <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d2.d2c_infant_formula %}
                                        <input class="form-check-input" name="d2c_infant_formula" type="checkbox" id="d2c_infant_formula" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_infant_formula" type="checkbox" id="d2c_infant_formula">
                                        {% endif %}
                                        Infant formula, firstly introduced at the age (in weeks)
                                    </label> 
                                </div>
                                <div id="infant_formula">
                                <div class="form-check">
                                        {% if d2.d2c_age_formula != None %}                                      
                                        <input class="form-control" type="number" name="d2c_age_formula" placeholder="in weeks" value="{{d2.d2c_age_formula}}" id="d2c_age_formula">
                                        {% else %}
                                        <input class="form-control" type="number" name="d2c_age_formula" placeholder="in weeks" id="d2c_age_formula">
                                        {% endif %}  
                                </div>
                                <div class="form-check">                                    
                                    <label class="form-check-label">
                                        {% if d2.d2c_cows_milk_formula %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_cows_milk_formula" type="checkbox">
                                        {% endif %}
                                        Regular / cow's milk based
                                    </label>
                                </div>    

                                <div class="form-check">                                
                                    <label class="form-check-label">
                                        {% if d2.d2c_soy_formula %}
                                        <input class="form-check-input" name="d2c_soy_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_soy_formula" type="checkbox">
                                        {% endif %}
                                        Soy-based
                                    </label>
                                </div>    

                                <div class="form-check">                                
                                    <label class="form-check-label">
                                        {% if d2.d2c_hypo_allergen_formula %}
                                        <input class="form-check-input" name="d2c_hypo_allergen_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_hypo_allergen_formula" type="checkbox">
                                        {% endif %}
                                        Hypoallergenic (e.g NAN HA, Nutrilon HA)
                                    </label>
                                </div>    

                                <div class="form-check">                            
                                    <label class="form-check-label">
                                        {% if d2.d2c_hydrolized_formula %}
                                        <input class="form-check-input" name="d2c_hydrolized_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_hydrolized_formula" type="checkbox">
                                        {% endif %}
                                        Extensively-hydrolized formula (e.g Pregestimil, Pepti Junior)
                                    </label>
                                </div>    

                                <div class="form-check">                            
                                    <label class="form-check-label">
                                        {% if d2.d2c_amino_formula %}
                                        <input class="form-check-input" name="d2c_amino_formula" type="checkbox" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_amino_formula" type="checkbox">
                                        {% endif %}
                                        Amino acid based formula (e.g Neocates)
                                    </label>
                                </div>
                                </div>

                                <div class="form-check">
                                    <label class="form-check-label">
                                        {% if d2.d2c_weaning_food %}
                                        <input class="form-check-input" name="d2c_weaning_food" type="checkbox" id="d2c_weaning_food" checked>
                                        {% else %}
                                        <input class="form-check-input" name="d2c_weaning_food" type="checkbox" id="d2c_weaning_food">
                                        {% endif %}
                                        Complementary / weaning food, firstly introduced at the age (in weeks)
                                    </label>
                                </div>
                                <div id="weaning_food">
                                <div class="form-check">
                                    {% if d2.d2c_age_weaning_food != None %}                                     
                                    <input class="form-control" type="number" name="d2c_age_weaning_food" placeholder="in weeks" value="{{d2.d2c_age_weaning_food}}">
                                    {% else %}
                                    <input class="form-control" type="number" name="d2c_age_weaning_food" placeholder="in weeks">
                                    {% endif %}  
                                </div>
                                </div>         
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="d2_notes">Notes</label>          
                                    <textarea class="form-control" rows="5" name="d2_notes"> {{ d2.d2_notes }} </textarea>
                                </div>   
                            </div>
                        </div>
                        </fieldset>   

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                    </form>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{{request.get_full_path}}/../edit" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value={{form.id}}>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %}  
                </div>
            </div>
 {% endblock %}