{% extends 'forms_d/form.html' %}
{% block form_section %}
    <!-- Page Content -->
     <script>
        $(document).ready(function(){
            
            if($('#d5c_blood').is(':checked')){
                $("#d5c_blood_date").removeClass('hidden');
                $("#d5c_blood_date :input[type='date']").prop("readonly", false);
                $("#d5c_blood_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_blood_date").addClass('hidden');
                $("#d5c_blood_date :input[type='date']").removeAttr('value');
                $("#d5c_blood_date :input[type='date']").prop("readonly", true);
                $("#d5c_blood_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_buccal_swab').is(':checked')){
                $("#d5c_buccal_swab_date").removeClass('hidden');
                $("#d5c_buccal_swab_date :input[type='date']").prop("readonly", false);
                $("#d5c_buccal_swab_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_buccal_swab_date").addClass('hidden');
                $("#d5c_buccal_swab_date :input[type='date']").removeAttr('value');
                $("#d5c_buccal_swab_date :input[type='date']").prop("readonly", true);
                $("#d5c_buccal_swab_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_hair_1').is(':checked')){
                $("#d5c_hair_1_date").removeClass('hidden');
                $("#d5c_hair_1_date :input[type='date']").prop("readonly", false);
                $("#d5c_hair_1_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_hair_1_date").addClass('hidden');
                $("#d5c_hair_1_date :input[type='date']").removeAttr('value');
                $("#d5c_hair_1_date :input[type='date']").prop("readonly", true);
                $("#d5c_hair_1_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_hair_6').is(':checked')){
                $("#d5c_hair_6_date").removeClass('hidden');
                $("#d5c_hair_6_date :input[type='date']").prop("readonly", false);
                $("#d5c_hair_6_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_hair_6_date").addClass('hidden');
                $("#d5c_hair_6_date :input[type='date']").removeAttr('value');
                $("#d5c_hair_6_date :input[type='date']").prop("readonly", true);
                $("#d5c_hair_6_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_nail_1').is(':checked')){
                $("#d5c_nail_1_date").removeClass('hidden');
                $("#d5c_nail_1_date :input[type='date']").prop("readonly", false);
                $("#d5c_nail_1_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_nail_1_date").addClass('hidden');
                $("#d5c_nail_1_date :input[type='date']").removeAttr('value');
                $("#d5c_nail_1_date :input[type='date']").prop("readonly", true);
                $("#d5c_nail_1_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_nail_6').is(':checked')){
                $("#d5c_nail_6_date").removeClass('hidden');
                $("#d5c_nail_6_date :input[type='date']").prop("readonly", false);
                $("#d5c_nail_6_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_nail_6_date").addClass('hidden');
                $("#d5c_nail_6_date :input[type='date']").removeAttr('value');
                $("#d5c_nail_6_date :input[type='date']").prop("readonly", true);
                $("#d5c_nail_6_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_nasopharyngeal_2').is(':checked')){
                $("#d5c_nasopharyngeal_2_date").removeClass('hidden');
                $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("readonly", false);
                $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_nasopharyngeal_2_date").addClass('hidden');
                $("#d5c_nasopharyngeal_2_date :input[type='date']").removeAttr('value');
                $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("readonly", true);
                $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_nasopharyngeal_4').is(':checked')){
                $("#d5c_nasopharyngeal_4_date").removeClass('hidden');
                $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("readonly", false);
                $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_nasopharyngeal_4_date").addClass('hidden');
                $("#d5c_nasopharyngeal_4_date :input[type='date']").removeAttr('value');
                $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("readonly", true);
                $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("required", false);
            }

            if($('#d5c_nasopharyngeal_6').is(':checked')){
                $("#d5c_nasopharyngeal_6_date").removeClass('hidden');
                $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("readonly", false);
                $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("required", true);
            }
            else{
                $("#d5c_nasopharyngeal_6_date").addClass('hidden');
                $("#d5c_nasopharyngeal_6_date :input[type='date']").removeAttr('value');
                $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("readonly", true);
                $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("required", false);
            }


            $('#d5c_blood').click(function(){
                if (this.checked) {
                    $("#d5c_blood_date").removeClass('hidden');
                    $("#d5c_blood_date :input[type='date']").prop("readonly", false);
                    $("#d5c_blood_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_blood_date").addClass('hidden');
                    $("#d5c_blood_date :input[type='date']").removeAttr('value');
                    $("#d5c_blood_date :input[type='date']").prop("readonly", true);
                    $("#d5c_blood_date :input[type='date']").prop("required", false);
                }
            })

            $('#d5c_buccal_swab').click(function(){
                if (this.checked) {
                    $("#d5c_buccal_swab_date").removeClass('hidden');
                    $("#d5c_buccal_swab_date :input[type='date']").prop("readonly", false);
                    $("#d5c_buccal_swab_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_buccal_swab_date").addClass('hidden');
                    $("#d5c_buccal_swab_date :input[type='date']").removeAttr('value');
                    $("#d5c_buccal_swab_date :input[type='date']").prop("readonly", true);
                    $("#d5c_buccal_swab_date :input[type='date']").prop("required", false);
                }
            })

            $('#d5c_hair_1').click(function(){
                if (this.checked) {
                    $("#d5c_hair_1_date").removeClass('hidden');
                    $("#d5c_hair_1_date :input[type='date']").prop("readonly", false);
                    $("#d5c_hair_1_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_hair_1_date").addClass('hidden');
                    $("#d5c_hair_1_date :input[type='date']").removeAttr('value');
                    $("#d5c_hair_1_date :input[type='date']").prop("readonly", true);
                    $("#d5c_hair_1_date :input[type='date']").prop("required", false);
                }
            })

            $('#d5c_hair_6').click(function(){
                if (this.checked) {
                    $("#d5c_hair_6_date").removeClass('hidden');
                    $("#d5c_hair_6_date :input[type='date']").prop("readonly", false);
                    $("#d5c_hair_6_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_hair_6_date").addClass('hidden');
                    $("#d5c_hair_6_date :input[type='date']").removeAttr('value');
                    $("#d5c_hair_6_date :input[type='date']").prop("readonly", true);
                    $("#d5c_hair_6_date :input[type='date']").prop("required", false);
                }
            })
            
            $('#d5c_nail_1').click(function(){
                if (this.checked) {
                    $("#d5c_nail_1_date").removeClass('hidden');
                    $("#d5c_nail_1_date :input[type='date']").prop("readonly", false);
                    $("#d5c_nail_1_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_nail_1_date").addClass('hidden');
                    $("#d5c_nail_1_date :input[type='date']").removeAttr('value');
                    $("#d5c_nail_1_date :input[type='date']").prop("readonly", true);
                    $("#d5c_nail_1_date :input[type='date']").prop("required", false);
                }
            })

           $('#d5c_nail_6').click(function(){
                if (this.checked) {
                    $("#d5c_nail_6_date").removeClass('hidden');
                    $("#d5c_nail_6_date :input[type='date']").prop("readonly", false);
                    $("#d5c_nail_6_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_nail_6_date").addClass('hidden');
                    $("#d5c_nail_6_date :input[type='date']").removeAttr('value');
                    $("#d5c_nail_6_date :input[type='date']").prop("readonly", true);
                    $("#d5c_nail_6_date :input[type='date']").prop("required", false);
                }
            })

            $('#d5c_nasopharyngeal_2').click(function(){
                if (this.checked) {
                    $("#d5c_nasopharyngeal_2_date").removeClass('hidden');
                    $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("readonly", false);
                    $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_nasopharyngeal_2_date").addClass('hidden');
                    $("#d5c_nasopharyngeal_2_date :input[type='date']").removeAttr('value');
                    $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("readonly", true);
                    $("#d5c_nasopharyngeal_2_date :input[type='date']").prop("required", false);
                }
            })

            $('#d5c_nasopharyngeal_4').click(function(){
                if (this.checked) {
                    $("#d5c_nasopharyngeal_4_date").removeClass('hidden');
                    $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("readonly", false);
                    $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_nasopharyngeal_4_date").addClass('hidden');
                    $("#d5c_nasopharyngeal_4_date :input[type='date']").removeAttr('value');
                    $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("readonly", true);
                    $("#d5c_nasopharyngeal_4_date :input[type='date']").prop("required", false);
                }
            })

           $('#d5c_nasopharyngeal_6').click(function(){
                if (this.checked) {
                    $("#d5c_nasopharyngeal_6_date").removeClass('hidden');
                    $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("readonly", false);
                    $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("required", true);
                }
                else{
                    $("#d5c_nasopharyngeal_6_date").addClass('hidden');
                    $("#d5c_nasopharyngeal_6_date :input[type='date']").removeAttr('value');
                    $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("readonly", true);
                    $("#d5c_nasopharyngeal_6_date :input[type='date']").prop("required", false);
                }
            })

        });
    </script>

            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section1"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section2"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section3"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section4"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item active">
                            <a href="{{request.get_full_path}}/../section5"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section6"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section7"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section8"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% endif %}
                        <h2>Infant Biological Samples</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_blood %}
                                    <input class="form-check-input" name="d5c_blood" type="checkbox" id="d5c_blood" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_blood" type="checkbox" id="d5c_blood">
                                {% endif %}
                                Blood (heel prick, 0-2 weeks)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_blood_date">
                            <label for="d5c_blood_date"> Blood Date </label>
                            <input class="form-control" type="date" name="d5c_blood_date" value="{{ d5.d5c_blood_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_buccal_swab %}
                                    <input class="form-check-input" name="d5c_buccal_swab" id="d5c_buccal_swab" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_buccal_swab" id="d5c_buccal_swab" type="checkbox">
                                {% endif %}
                                Buccal Swab
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_buccal_swab_date">
                            <label for="d5c_buccal_swab_date"> Buccal Swab Date </label>
                            <input class="form-control" type="date" name="d5c_buccal_swab_date"  value="{{ d5.d5c_buccal_swab_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_hair_1 %}
                                    <input class="form-check-input" name="d5c_hair_1" id="d5c_hair_1" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_hair_1" id="d5c_hair_1" type="checkbox">
                                {% endif %}
                                Hair (0-1 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_hair_1_date">
                            <label for="d5c_hair_1_date"> Hair (0-1 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_hair_1_date" value="{{ d5.d5c_hair_1_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_hair_6 %}
                                    <input class="form-check-input" name="d5c_hair_6" id="d5c_hair_6" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_hair_6" id="d5c_hair_6" type="checkbox">
                                {% endif %}
                                Hair (6 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_hair_6_date">
                            <label for="d5c_hair_6_date"> Hair (6 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_hair_6_date" value="{{ d5.d5c_hair_6_date | date:'Y-m-d' }}" required>
                        </div>


                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_nail_1 %}
                                    <input class="form-check-input" name="d5c_nail_1" id="d5c_nail_1" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_nail_1" id="d5c_nail_1" type="checkbox">
                                {% endif %}
                                Nail (0-1 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_nail_1_date">
                            <label for="d5c_nail_1_date"> Nail (0-1 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_nail_1_date" value="{{ d5.d5c_nail_1_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_nail_6 %}
                                    <input class="form-check-input" name="d5c_nail_6" id="d5c_nail_6" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_nail_6" id="d5c_nail_6" type="checkbox">
                                {% endif %}
                                Nail (6 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_nail_6_date">
                            <label for="d5c_nail_6_date"> Nail (6 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_nail_6_date" value="{{ d5.d5c_nail_6_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_nasopharyngeal_2 %}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_2"  id="d5c_nasopharyngeal_2" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_2" id="d5c_nasopharyngeal_2" type="checkbox">
                                {% endif %}
                                Nasopharingeal (2 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_nasopharyngeal_2_date">
                            <label for="d5c_nasopharyngeal_2_date"> Nasopharingeal (2 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_nasopharyngeal_2_date" value="{{ d5.d5c_nasopharyngeal_2_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_nasopharyngeal_4%}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_4" id="d5c_nasopharyngeal_4" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_4" id="d5c_nasopharyngeal_4" type="checkbox">
                                {% endif %}
                                Nasopharingeal (4 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_nasopharyngeal_4_date">
                            <label for="d5c_nasopharyngeal_4_date">  Nasopharingeal (4 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_nasopharyngeal_4_date" value="{{ d5.d5c_nasopharyngeal_4_date | date:'Y-m-d' }}" required>
                        </div>

                        <div class="form-check">
                            <label class="form-check-label">
                                {% if d5.d5c_nasopharyngeal_6 %}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_6" id="d5c_nasopharyngeal_6" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="d5c_nasopharyngeal_6" id="d5c_nasopharyngeal_6" type="checkbox">
                                {% endif %}
                                Nasopharingeal (6 month of age)
                            </label> 
                        </div>
                        <div class="form-group" id="d5c_nasopharyngeal_6_date">
                            <label for="d5c_nasopharyngeal_6_date"> Nasopharingeal (6 month of age) Date </label>
                            <input class="form-control" type="date" name="d5c_nasopharyngeal_6_date"  value="{{ d5.d5c_nasopharyngeal_6_date | date:'Y-m-d' }}" required>
                        </div> 

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="d5_notes">Notes</label>          
                                    <textarea class="form-control" rows="3" name="d5_notes"> {{ d5.d5_notes }} </textarea>
                                </div>   
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                </div>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{{request.get_full_path}}/../edit" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value={{form.id}}>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %} 
                 </div>
 {% endblock %}
