{% extends 'forms_d/form.html' %}
{% block form_section %}
    <!-- Page Content -->
    <script>
        $(document).ready(function(){
            // mother
            if($("#smokerMother").is(':checked')){
                console.log("1");
                $("#exSmokerDetailMother").addClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", true);
                $("#exSmokerDetailMother :input").prop("readonly", true);
                $("#exSmokerDetailMother :input").prop("checked", false);
                $("#exSmokerDetailMother :input").prop("required", false);
                $("#exSmokerDetailMother :checkbox").prop("required", false);

                $("#smokerDetailMother").removeClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", false);
                $("#smokerDetailMother :input").prop("readonly", false);
                $("#smokerDetailMother :input").prop("required", true);
                $("#smokerDetailMother :checkbox").prop("required", false);         
            }
            else if($("#exSmokerMother").is(':checked')) {
                $("#smokerDetailMother").addClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", true);
                $("#smokerDetailMother :input").prop("readonly", true);
                $("#smokerDetailMother :input").prop("checked", false);
                $("#smokerDetailMother :input").prop("required", false);
                $("#smokerDetailMother :checkbox").prop("required", false);

                $("#exSmokerDetailMother").removeClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", false);
                $("#exSmokerDetailMother :input").prop("readonly", false);
                $("#exSmokerDetailMother :input").prop("required", true);
                $("#exSmokerDetailMother :checkbox").prop("required", false);
                console.log("exSmokerMother");
            }
            else{
                $("#exSmokerDetailMother").addClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", true);
                $("#exSmokerDetailMother :input").prop("readonly", true);
                $("#exSmokerDetailMother :input").prop("checked", false);
                $("#exSmokerDetailMother :input").prop("required", false);
                $("#exSmokerDetailMother :checkbox").prop("required", false);

                $("#smokerDetailMother").addClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", true);
                $("#smokerDetailMother :input").prop("readonly", true);
                $("#smokerDetailMother :input").prop("checked", false);
                $("#smokerDetailMother :input").prop("required", false);
                $("#smokerDetailMother :checkbox").prop("required", false);
            }


            $("#smokerMother").click(function(){
                $("#exSmokerDetailMother").addClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", true);
                $("#exSmokerDetailMother :input").prop("readonly", true);
                $("#exSmokerDetailMother :input").prop("checked", false);
                $("#exSmokerDetailMother :input").prop("required", false);
                $("#exSmokerDetailMother :checkbox").prop("required", false);

                $("#smokerDetailMother").removeClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", false);
                $("#smokerDetailMother :input").prop("readonly", false);
                $("#smokerDetailMother :input").prop("required", true);
                $("#smokerDetailMother :checkbox").prop("required", false);
                console.log("smokerMother");
            });

            $("#exSmokerMother").click(function(){
                $("#smokerDetailMother").addClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", true);
                $("#smokerDetailMother :input").prop("readonly", true);
                $("#smokerDetailMother :input").prop("checked", false);
                $("#smokerDetailMother :input").prop("required", false);
                $("#smokerDetailMother :checkbox").prop("required", false);

                $("#exSmokerDetailMother").removeClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", false);
                $("#exSmokerDetailMother :input").prop("readonly", false);
                $("#exSmokerDetailMother :input").prop("required", true);
                $("#exSmokerDetailMother :checkbox").prop("required", false);
                console.log("exSmokerMother");
            });

             $("#neverSmokeMother").click(function(){
                $("#exSmokerDetailMother").addClass('hidden');
                $("#exSmokerDetailMother :input").prop("disabled", true);
                $("#exSmokerDetailMother :input").prop("readonly", true);
                $("#exSmokerDetailMother :input").prop("checked", false);
                $("#exSmokerDetailMother :input").prop("required", false);
                $("#exSmokerDetailMother :checkbox").prop("required", false);

                $("#smokerDetailMother").addClass('hidden');
                $("#smokerDetailMother :input").prop("disabled", true);
                $("#smokerDetailMother :input").prop("readonly", true);
                $("#smokerDetailMother :input").prop("checked", false);
                $("#smokerDetailMother :input").prop("required", false);
                $("#smokerDetailMother :checkbox").prop("required", false);
                console.log("neverSmokeMother");
            });

            if($("#yesQuittingSmokeMother").is(':checked')){
                $("#quittingDurationMother").removeClass('hidden');
                $("#quittingDurationMother :input").prop("disabled", false);
                $("#quittingDurationMother :input").prop("readonly", false);
                $("#quittingDurationMother :input").prop("required", true);
                $("#quittingDurationMother :checkbox").prop("required", false);         
            }
            else{
                $("#quittingDurationMother").addClass('hidden');
                $("#quittingDurationMother :input").prop("disabled", true);
                $("#quittingDurationMother :input").prop("readonly", true);
                $("#quittingDurationMother :input").prop("checked", false);
                $("#quittingDurationMother :input").prop("required", false);
                $("#quittingDurationMother :checkbox").prop("required", false);
            } 

            $("#yesQuittingSmokeMother").click(function(){
                $("#quittingDurationMother").removeClass('hidden');
                $("#quittingDurationMother :input").prop("disabled", false);
                $("#quittingDurationMother :input").prop("readonly", false);
                $("#quittingDurationMother :input").prop("required", true);
                $("#quittingDurationMother :checkbox").prop("required", false);
            });

            $("#noQuittingSmokeMother").click(function(){
                $("#quittingDurationMother").addClass('hidden');
                $("#quittingDurationMother :input").prop("disabled", true);
                $("#quittingDurationMother :input").prop("readonly", true);
                $("#quittingDurationMother :input").prop("checked", false);
                $("#quittingDurationMother :input").prop("required", false);
                $("#quittingDurationMother :checkbox").prop("required", false);
            }); 

            if($("#yesHouseholdSmoke").is(':checked')){
                console.log("tes");
                $("#householdSmoke").removeClass('hidden');
                $("#householdSmoke :input").prop("disabled", false);
                $("#householdSmoke :input").prop("readonly", false);
                $("#householdSmoke :input").prop("required", true);
                $("#d6m_household_cigar_number").prop("required", false);
                $("#householdSmoke :checkbox").prop("required", false);
            }
            else{
                $("#householdSmoke").addClass('hidden');
                $("#householdSmoke :input").prop("disabled", true);
                $("#householdSmoke :input").prop("readonly", true);
                $("#householdSmoke :input").prop("checked", false);
                $("#householdSmoke :input").prop("required", false);
                $("#householdSmoke :checkbox").prop("required", false);
            }

            $("#yesHouseholdSmoke").click(function(){
                $("#householdSmoke").removeClass('hidden');
                $("#householdSmoke :input").prop("disabled", false);
                $("#householdSmoke :input").prop("readonly", false);
                $("#householdSmoke :input").prop("required", true);
                $("#d6m_household_cigar_number").prop("required", false);
                $("#householdSmoke :checkbox").prop("required", false);
            });

            $("#noHouseholdSmoke").click(function(){
                $("#householdSmoke").addClass('hidden');
                $("#householdSmoke :input").prop("disabled", true);
                $("#householdSmoke :input").prop("readonly", true);
                $("#householdSmoke :input").prop("checked", false);
                $("#householdSmoke :input").prop("required", false);
                $("#householdSmoke :checkbox").prop("required", false);
            });



            // father 
            if($("#smokerFather").is(':checked')){
                $("#exSmokerDetailFather").addClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", true);
                $("#exSmokerDetailFather :input").prop("readonly", true);
                $("#exSmokerDetailFather :input").prop("checked", false);
                $("#exSmokerDetailFather :input").prop("required", false);
                $("#exSmokerDetailFather :checkbox").prop("required", false);

                $("#smokerDetailFather").removeClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", false);
                $("#smokerDetailFather :input").prop("readonly", false);
                //$("#smokerDetailFather :input").prop("required", true);
                $("#smokerDetailFather :checkbox").prop("required", false);
         
            }
            else if($("#exSmokerFather").is(':checked')) {
                $("#smokerDetailFather").addClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", true);
                $("#smokerDetailFather :input").prop("readonly", true);
                $("#smokerDetailFather :input").prop("checked", false);
                $("#smokerDetailFather :input").prop("required", false);
                $("#smokerDetailFather :checkbox").prop("required", false);

                $("#exSmokerDetailFather").removeClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", false);
                $("#exSmokerDetailFather :input").prop("readonly", false);
                //$("#exSmokerDetailFather :input").prop("required", true);
                $("#exSmokerDetailFather :checkbox").prop("required", false);
                console.log("exSmokerfather");
            }
            else{
                $("#exSmokerDetailFather").addClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", true);
                $("#exSmokerDetailFather :input").prop("readonly", true);
                $("#exSmokerDetailFather :input").prop("checked", false);
                $("#exSmokerDetailFather :input").prop("required", false);
                $("#exSmokerDetailFather :checkbox").prop("required", false);

                $("#smokerDetailFather").addClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", true);
                $("#smokerDetailFather :input").prop("readonly", true);
                $("#smokerDetailFather :input").prop("checked", false);
                $("#smokerDetailFather :input").prop("required", false);
                $("#smokerDetailFather :checkbox").prop("required", false);
            }


            $("#smokerFather").click(function(){
                $("#exSmokerDetailFather").addClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", true);
                $("#exSmokerDetailFather :input").prop("readonly", true);
                $("#exSmokerDetailFather :input").prop("checked", false);
                $("#exSmokerDetailFather :input").prop("required", false);
                $("#exSmokerDetailFather :checkbox").prop("required", false);

                $("#smokerDetailFather").removeClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", false);
                $("#smokerDetailFather :input").prop("readonly", false);
                //$("#smokerDetailFather :input").prop("required", true);
                $("#smokerDetailFather :checkbox").prop("required", false);
            });

            $("#exSmokerFather").click(function(){
                $("#smokerDetailFather").addClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", true);
                $("#smokerDetailFather :input").prop("readonly", true);
                $("#smokerDetailFather :input").prop("checked", false);
                $("#smokerDetailFather :input").prop("required", false);
                $("#smokerDetailFather :checkbox").prop("required", false);

                $("#exSmokerDetailFather").removeClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", false);
                $("#exSmokerDetailFather :input").prop("readonly", false);
                //$("#exSmokerDetailFather :input").prop("required", true);
                $("#exSmokerDetailFather :checkbox").prop("required", false);
            });

             $("#neverSmokeFather").click(function(){
                $("#exSmokerDetailFather").addClass('hidden');
                $("#exSmokerDetailFather :input").prop("disabled", true);
                $("#exSmokerDetailFather :input").prop("readonly", true);
                $("#exSmokerDetailFather :input").prop("checked", false);
                $("#exSmokerDetailFather :input").prop("required", false);
                $("#exSmokerDetailFather :checkbox").prop("required", false);

                $("#smokerDetailFather").addClass('hidden');
                $("#smokerDetailFather :input").prop("disabled", true);
                $("#smokerDetailFather :input").prop("readonly", true);
                $("#smokerDetailFather :input").prop("checked", false);
                $("#smokerDetailFather :input").prop("required", false);
                $("#smokerDetailFather :checkbox").prop("required", false);
            }); 


        });
    </script>


            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section1"> Infant Growth / Immunisation Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section2"> Infant Feeding Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section3"> Infant Cardiovascular Data </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section4"> Infant Lung Function and Respiratory Symptoms </a>
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section5"> Infant Biological Samples </a> 
                        </li>
                        <li class="list-group-item active">
                            <a href="{{request.get_full_path}}/../section6"> Current Second Hand Smoking Exposure </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section7"> Infection Episode </a> 
                        </li>
                        <li class="list-group-item">
                            <a href="{{request.get_full_path}}/../section8"> Outdoor/Indoor Pollutant Exposure and Travel Habits </a> 
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    {% if context == "create" %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% else %}
                    <form class="formD-question" action="{{request.get_full_path}}" method="post" id="form_d">
                    {% endif %}
                        <h2>Current Second Hand Smoking Exposure</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">

                        <div class="form-group">
                        <h4> Mother</h4>
                            <label> What is your current smoking status? </label>
                            <div class="radio">                                
                                <label>
                                    {% if d6.d6m_smoking_status  == "1" %}
                                    <input type="radio" name="d6m_smoking_status" id="smokerMother" value="1" checked required>
                                    {% else %}
                                    <input type="radio" name="d6m_smoking_status" id="smokerMother" value="1" required>
                                    {% endif %}
                                    Smoker (at least 1 cigarette per day)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d6.d6m_smoking_status == "2" %}
                                    <input type="radio" name="d6m_smoking_status" id="exSmokerMother" value="2" checked required>
                                    {% else %}
                                    <input type="radio" name="d6m_smoking_status" id="exSmokerMother" value="2" required>
                                    {% endif %}
                                    Ex-smoker
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d6.d6m_smoking_status == "3" %}
                                    <input type="radio" name="d6m_smoking_status" id="neverSmokeMother" value="3" checked required>
                                    {% else %}
                                    <input type="radio" name="d6m_smoking_status" id="neverSmokeMother" value="3" required>
                                    {% endif %}
                                    Never smoke
                                </label>
                            </div>
                        </div>

                        <div id="exSmokerDetailMother">
                        <div class="form-group" id="">                        
                            <label> Have you quitted smoking after the birth of your baby? </label>
                            <div class="radio">                                
                                <label>
                                {% if d6.d6m_quitting_smoke %}
                                <input type="radio" name="d6m_quitting_smoke" id="yesQuittingSmokeMother" value="1" checked>
                                {% else %}
                                <input type="radio" name="d6m_quitting_smoke" id="yesQuittingSmokeMother" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d6.d6m_quitting_smoke %}
                                <input type="radio" name="d6m_quitting_smoke" id="noQuittingSmokeMother" value="0">
                                {% elif d6.d6m_quitting_smoke == False %}
                                <input type="radio" name="d6m_quitting_smoke" id="noQuittingSmokeMother" value="0" checked>
                                {% else %}
                                <input type="radio" name="d6m_quitting_smoke" id="noQuittingSmokeMother" value="0">
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group" id="quittingDurationMother">
                            <label for="d6m_quitting_durationr"> How long have you quitted now? (year)
                            </label>
                            <input class="form-control" type="number" name="d6m_quitting_duration" value="{{ d6.d6m_quitting_duration }}">
                        </div>
                        </div>

                    <div id="smokerDetailMother">
                        <div class="form-group" id="averageCigars">
                            <label for="d6m_cigar_number"> On average, how many cigarettes do/did you smoke per day ?
                            </label>
                            <input class="form-control" type="number" name="d6m_cigar_number" value="{{ d6.d6m_cigar_number }}">
                        </div>

                        <div class="form-group" id="smokePipeOrCigars">                        
                            <label> Do you smoke pipes or cigars? </label>
                            <div class="radio">                                
                                <label>
                                {% if d6.d6m_cigar_type %}
                                <input type="radio" name="d6m_cigar_type" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d6m_cigar_type" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d6.d6m_cigar_type %}
                                <input type="radio" name="d6m_cigar_type" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d6m_cigar_type" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>
                    
                        <div class="form-group">                        
                        <label> Besides you, is there any other household member who smokes? </label>
                        <div class="radio">                                
                            <label>
                            {% if d6.d6m_smoking_household %}
                            <input type="radio" name="d6m_smoking_household" id="yesHouseholdSmoke" value="1" checked>
                            {% else %}
                            <input type="radio" name="d6m_smoking_household" id="yesHouseholdSmoke" value="1">
                            {% endif %}
                            Yes
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            {% if d6.d6m_smoking_household %}
                            <input type="radio" name="d6m_smoking_household" id="noHouseholdSmoke" value="0">
                            {% else %}
                            <input type="radio" name="d6m_smoking_household" id="noHouseholdSmoke" value="0" checked>
                            {% endif %}
                            No
                            </label>
                        </div>                        
                        </div>

                        <!-- if there is any member who smokes -->
                        <div id="householdSmoke">
                        <div class="form-group">
                            <label for="d6m_household_number"> How many Person ? </label>
                            <input class="form-control" type="number" name="d6m_household_number" value="{{ d6.d6m_household_number }}">
                        </div>

                        <div class="form-group">
                            <label for="d6m_household_cigar_number"> How many cigarettes per day are smoked in the home? </label>
                            <input class="form-control" type="number" name="d6m_household_cigar_number" id="d6m_household_cigar_number" value="{{ d6.d6m_household_cigar_number }}">
                        </div>

                        <div class="form-group">                        
                            <label> Do they smoke in front of you ? </label>
                            <div class="radio">                                
                                <label>
                                {% if d6.d6m_household_presence %}
                                <input type="radio" name="d6m_household_presence" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d6m_household_presence" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d6.d6m_household_presence %}
                                <input type="radio" name="d6m_household_presence" id="optionsRadios2" value="0">
                                {% else %}
                                <input type="radio" name="d6m_household_presence" id="optionsRadios2" value="0" checked>
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>
                        </div>
                    </div>    

                    <div class="form-group">
                        <h4> Father</h4>
                            <label> What is your smoking status? </label>
                            <div class="radio">                                
                                <label>
                                    {% if d6.d6f_smoking_status  == "1" %}
                                    <input type="radio" name="d6f_smoking_status" id="smokerFather" value="1" checked required>
                                    {% else %}
                                    <input type="radio" name="d6f_smoking_status" id="smokerFather" value="1" required>
                                    {% endif %}
                                    Smoker (at least 1 cigarette per day)
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d6.d6f_smoking_status == "2" %}
                                    <input type="radio" name="d6f_smoking_status" id="exSmokerFather" value="2" checked required>
                                    {% else %}
                                    <input type="radio" name="d6f_smoking_status" id="exSmokerFather" value="2" required>
                                    {% endif %}
                                    Ex-smoker
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if d6.d6f_smoking_status == "3" %}
                                    <input type="radio" name="d6f_smoking_status" id="neverSmokeFather" value="3" checked required>
                                    {% else %}
                                    <input type="radio" name="d6f_smoking_status" id="neverSmokeFather" value="3" required>
                                    {% endif %}
                                    Never smoke
                                </label>
                            </div>
                    </div>
                    <div id="exSmokerDetailFather">
                        <div class="form-group">
                            <label for="d6f_quitting_duration"> How long have you quitted now? (year)
                            </label>
                            <input class="form-control" type="number" name="d6f_quitting_duration" value="{{ d6.d6f_quitting_duration }}">
                        </div>
                    </div>    
                    <div id="smokerDetailFather">
                        <div class="form-group" id="averageCigars">
                            <label for="d6f_cigar_number"> On average, how many cigarettes do/did you smoke per day ?
                            </label>
                            <input class="form-control" type="number" name="d6f_cigar_number" value="{{ d6.d6f_cigar_number }}">
                        </div>

                        <div class="form-group" id="smokePipeOrCigars">                        
                            <label> Do you smoke pipes or cigars? </label>
                            <div class="radio">                                
                                <label>
                                {% if d6.d6f_cigar_type %}
                                <input type="radio" name="d6f_cigar_type" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d6f_cigar_type" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d6.d6f_cigar_type == False %}
                                <input type="radio" name="d6f_cigar_type" id="optionsRadios2" value="0" checked>
                                {% else %}
                                <input type="radio" name="d6f_cigar_type" id="optionsRadios2" value="0">
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>

                        <div class="form-group">                        
                        <label> How often do you smoke inside your house? </label>
                        <div class="radio">                                
                            <label>
                            {% if d6.d6f_smoking_frequency == "1" %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_daily" value="1" checked>
                            {% else %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_daily" value="1">
                            {% endif %}
                            Daily
                            </label>
                        </div>
                        <div class="radio">
                            <label>
                            {% if d6.d6f_smoking_frequency == "2" %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_weekly" value="2" checked>
                            {% else %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_weekly" value="2">
                            {% endif %}
                            Weekly
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                            {% if d6.d6f_smoking_frequency == "3" %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_monthly" value="3" checked>
                            {% else %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_monthly" value="3">
                            {% endif %}
                            Monthly
                            </label>
                        </div>

                        <div class="radio">
                            <label>
                            {% if d6.d6f_smoking_frequency == "0" %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_never" value="0" checked>
                            {% else %}
                            <input type="radio" name="d6f_smoking_frequency" id="d6f_smoking_frequency_never" value="0">
                            {% endif %}
                            Never
                            </label>
                        </div>                        
                        </div>

                        <div class="form-group">                        
                            <label> Do you smoke in the presence of mother ? </label>
                            <div class="radio">                                
                                <label>
                                {% if d6.d6f_smoking_presence %}
                                <input type="radio" name="d6f_smoking_presence" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="d6f_smoking_presence" id="optionsRadios1" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                {% if d6.d6f_smoking_presence == False %}
                                <input type="radio" name="d6f_smoking_presence" id="optionsRadios2" value="0" checked>
                                {% else %}
                                <input type="radio" name="d6f_smoking_presence" id="optionsRadios2" value="0">
                                {% endif %}
                                No
                                </label>
                            </div>                        
                        </div>
                    </div>    
                       
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-12 col-sm-12">
                                    <label for="d6_notes">Notes</label>          
                                    <textarea class="form-control" rows="3" name="d6_notes"> {{ d6.d6_notes }} </textarea>
                                </div>   
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                {% if is_save_all %}

                                {% else %}
                                    {% if role == 'staff' %}
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}
                                {% endif %}    
                            </div>
                        </div>
                        <!--
                        <a href="" type="submit" class="btn btn-primary">Save </a>
                        <a href="" type="submit" class="btn btn-success"> Edit </a> -->
                    </form>
                </div>
                        {% if role != 'staff' %}
                        {% if is_save_all %}
                        <form action="{{request.get_full_path}}/../edit" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="form_id" value={{form.id}}>
                            <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                        </form>
                        {% endif %}
                        {% endif %} 
                 </div>
 {% endblock %}
