{% extends 'forms/form.html' %}
{% block form_section %}
    <script>
    $(document).ready(function(){

        if($("#employed").is(':checked')){
            $("#job").removeClass('hidden');
            $("#job :input").prop("readonly", false);
            $("#job :input").prop("required", true);
            $("#job :checkbox").prop("required", false);
            $("#a2m_public_transport").prop("required", false);

            if($("#yesWorkingPregnancy").is(':checked')){
                $("#yesWorkingPregnancy").val('1');
                $("#workingPregnancy").removeClass('hidden');
                $("#workingPregnancy :input").prop("readonly", false);
                $("#workingPregnancy :input").prop("required", true);
                $("#workingPregnancy :checkbox").prop("required", false);

                if($("#yesMaternalLeave").is(':checked')){
                    $("#yesMaternalLeave").val('1');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", false);
                    $("#a2m_maternal_leave_duration :input").prop("required", true);
                }
                else{
                    $("#noMaternalLeave").val('0');
                    $("#a2m_maternal_leave_duration :input").removeAttr('value');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", true);
                    $("#a2m_maternal_leave_duration :input").prop("required", false);
                }    
            }
            else{
                $("#noWorkingPregnancy").val('0');
                $("#workingPregnancy").addClass('hidden');
                $("#workingPregnancy :input").removeAttr('value');
                $("#workingPregnancy :input").prop("readonly", true);
                $("#workingPregnancy :input").prop("checked", false);
                $("#workingPregnancy :input").prop("required", false);
                $("#workingPregnancy :checkbox").prop("required", false);
            }


            if($("#a2m_public").is(':checked')){
                $("#a2m_public_transport").removeClass('hidden');
                $("#a2m_public_transport :input").prop("readonly", false);
                $("#a2m_public_transport :input").prop("required", true);
                $("#a2m_public_transport :checkbox").prop("required", false);    
            }
            else{
                $("#a2m_public_transport").addClass('hidden');
                $("#a2m_public_transport :input").removeAttr('value');
                $("#a2m_public_transport :input").prop("readonly", true);
                $("#a2m_public_transport :input").prop("checked", false);
                $("#a2m_public_transport :input").prop("required", false);
                $("#a2m_public_transport :checkbox").prop("required", false);
            }


            

        }
        else if($("#self-employed").is(':checked')){
            $("#job").removeClass('hidden');
            $("#job :input").prop("readonly", false);
            $("#job :input").prop("required", true);
            $("#job :checkbox").prop("required", false);
            $("#a2m_public_transport").prop("required", false);

            if($("#yesWorkingPregnancy").is(':checked')){
                $("#yesWorkingPregnancy").val('1');
                $("#workingPregnancy").removeClass('hidden');
                $("#workingPregnancy :input").prop("readonly", false);
                $("#workingPregnancy :input").prop("required", true);
                $("#workingPregnancy :checkbox").prop("required", false);

                if($("#yesMaternalLeave").is(':checked')){
                    $("#yesMaternalLeave").val('1');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", false);
                    $("#a2m_maternal_leave_duration :input").prop("required", true);
                }
                else{
                    $("#noMaternalLeave").val('0');
                    $("#a2m_maternal_leave_duration :input").removeAttr('value');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", true);
                    $("#a2m_maternal_leave_duration :input").prop("required", false);
                }    
            }
            else{
                $("#noWorkingPregnancy").val('0');
                $("#workingPregnancy").addClass('hidden');
                $("#workingPregnancy :input").removeAttr('value');
                $("#workingPregnancy :input").prop("readonly", true);
                $("#workingPregnancy :input").prop("checked", false);
                $("#workingPregnancy :input").prop("required", false);
                $("#workingPregnancy :checkbox").prop("required", false);
            }


            if($("#a2m_public").is(':checked')){
                $("#a2m_public_transport").removeClass('hidden');
                $("#a2m_public_transport :input").prop("readonly", false);
                $("#a2m_public_transport :input").prop("required", true);
                $("#a2m_public_transport :checkbox").prop("required", false);    
            }
            else{
                $("#a2m_public_transport").addClass('hidden');
                $("#a2m_public_transport :input").removeAttr('value');
                $("#a2m_public_transport :input").prop("readonly", true);
                $("#a2m_public_transport :input").prop("checked", false);
                $("#a2m_public_transport :input").prop("required", false);
                $("#a2m_public_transport :checkbox").prop("required", false);
            }

        }
        else{
            $("#job").addClass('hidden');
            $("#job :input").removeAttr('value');
            $("#job :input").prop("readonly", true);
            $("#job :input").prop("checked", false);
            $("#job :input").prop("required", false);
            $("#job :checkbox").prop("required", false);
            $("#indoor").val('1');
            $("#outdoor").val('2');
            $("#yesExposed").val('1');
            $("#noExposed").val('0');

        }

        $("#employed").click(function(){
            $("#job").removeClass('hidden');
            $("#job :input").prop("readonly", false);
            $("#job :input").prop("required", true);
            $("#job :checkbox").prop("required", false);
            $("#a2m_public_transport").prop("required", false);

            if($("#yesWorkingPregnancy").is(':checked')){
                $("#yesWorkingPregnancy").val('1');
                $("#workingPregnancy").removeClass('hidden');
                $("#workingPregnancy :input").prop("readonly", false);
                $("#workingPregnancy :input").prop("required", true);
                $("#workingPregnancy :checkbox").prop("required", false);

                if($("#yesMaternalLeave").is(':checked')){
                    $("#yesMaternalLeave").val('1');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", false);
                    $("#a2m_maternal_leave_duration :input").prop("required", true);
                }
                else{
                    $("#noMaternalLeave").val('0');
                    $("#a2m_maternal_leave_duration :input").removeAttr('value');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", true);
                    $("#a2m_maternal_leave_duration :input").prop("required", false);
                }    
            }
            else{
                $("#noWorkingPregnancy").val('0');
                $("#workingPregnancy").addClass('hidden');
                $("#workingPregnancy :input").removeAttr('value');
                $("#workingPregnancy :input").prop("readonly", true);
                $("#workingPregnancy :input").prop("checked", false);
                $("#workingPregnancy :input").prop("required", false);
                $("#workingPregnancy :checkbox").prop("required", false);
            }

            if($("#a2m_public").is(':checked')){
                $("#a2m_public_transport").removeClass('hidden');
                $("#a2m_public_transport :input").prop("readonly", false);
                $("#a2m_public_transport :input").prop("required", true);
                $("#a2m_public_transport :checkbox").prop("required", false);    
            }
            else{
                $("#a2m_public_transport").addClass('hidden');
                $("#a2m_public_transport :input").removeAttr('value');
                $("#a2m_public_transport :input").prop("readonly", true);
                $("#a2m_public_transport :input").prop("checked", false);
                $("#a2m_public_transport :input").prop("required", false);
                $("#a2m_public_transport :checkbox").prop("required", false);
            }
            
        });

        $("#self-employed").click(function(){
            $("#job").removeClass('hidden');
            $("#job :input").prop("readonly", false);
            $("#job :input").prop("required", true);
            $("#job :checkbox").prop("required", false);
            $("#a2m_public_transport").prop("required", false);

            if($("#yesWorkingPregnancy").is(':checked')){
                $("#yesWorkingPregnancy").val('1');
                $("#workingPregnancy").removeClass('hidden');
                $("#workingPregnancy :input").prop("readonly", false);
                $("#workingPregnancy :input").prop("required", true);
                $("#workingPregnancy :checkbox").prop("required", false);

                if($("#yesMaternalLeave").is(':checked')){
                    $("#yesMaternalLeave").val('1');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", false);
                    $("#a2m_maternal_leave_duration :input").prop("required", true);
                }
                else{
                    $("#noMaternalLeave").val('0');
                    $("#a2m_maternal_leave_duration :input").removeAttr('value');
                    $("#a2m_maternal_leave_duration :input").prop("readonly", true);
                    $("#a2m_maternal_leave_duration :input").prop("required", false);
                }    
            }
            else{
                $("#noWorkingPregnancy").val('0');
                $("#workingPregnancy").addClass('hidden');
                $("#workingPregnancy :input").removeAttr('value');
                $("#workingPregnancy :input").prop("readonly", true);
                $("#workingPregnancy :input").prop("checked", false);
                $("#workingPregnancy :input").prop("required", false);
                $("#workingPregnancy :checkbox").prop("required", false);
            }

            if($("#a2m_public").is(':checked')){
                $("#a2m_public_transport").removeClass('hidden');
                $("#a2m_public_transport :input").prop("readonly", false);
                $("#a2m_public_transport :input").prop("required", true);
                $("#a2m_public_transport :checkbox").prop("required", false);    
            }
            else{
                $("#a2m_public_transport").addClass('hidden');
                $("#a2m_public_transport :input").removeAttr('value');
                $("#a2m_public_transport :input").prop("readonly", true);
                $("#a2m_public_transport :input").prop("checked", false);
                $("#a2m_public_transport :input").prop("required", false);
                $("#a2m_public_transport :checkbox").prop("required", false);
            }

        });

        $("#a2m_public").click(function(){
            if($("#a2m_public").is(':checked')){
                $("#a2m_public_transport").removeClass('hidden');
                $("#a2m_public_transport :input").prop("readonly", false);
                $("#a2m_public_transport :input").prop("required", true);
                $("#a2m_public_transport :checkbox").prop("required", false);    
            }
            else{
                $("#a2m_public_transport").addClass('hidden');
                $("#a2m_public_transport :input").removeAttr('value');
                $("#a2m_public_transport :input").prop("readonly", true);
                $("#a2m_public_transport :input").prop("checked", false);
                $("#a2m_public_transport :input").prop("required", false);
                $("#a2m_public_transport :checkbox").prop("required", false);
            }
        });

        $("#unemployed").click(function(){
            $("#job").addClass('hidden');
            $("#job :input").removeAttr('value');
            $("#job :input").prop("readonly", true);
            $("#job :input").prop("checked", false);
            $("#job :input").prop("required", false);
            $("#job :checkbox").prop("required", false);
        });
        
        $("#noWorkingPregnancy").click(function(){
            $("#noWorkingPregnancy").val('0');
            $("#workingPregnancy").addClass('hidden');
            $("#workingPregnancy :input").removeAttr('value');
            $("#workingPregnancy :input").prop("readonly", true);
            $("#workingPregnancy :input").prop("checked", false);
            $("#workingPregnancy :input").prop("required", false);
            $("#workingPregnancy :checkbox").prop("required", false);
        });

        $("#yesWorkingPregnancy").click(function(){
            $("#yesWorkingPregnancy").val('1');
            $("#workingPregnancy").removeClass('hidden');
            $("#workingPregnancy :input").prop("readonly", false);
            $("#workingPregnancy :input").prop("required", true);
            $("#workingPregnancy :checkbox").prop("required", false);

            if($("#yesMaternalLeave").is(':checked')){
                $("#yesMaternalLeave").val('1');
                $("#a2m_maternal_leave_duration :input").prop("readonly", false);
                $("#a2m_maternal_leave_duration :input").prop("required", true);
            }
            else{
                $("#noMaternalLeave").val('0');
                $("#a2m_maternal_leave_duration :input").removeAttr('value');
                $("#a2m_maternal_leave_duration :input").prop("readonly", true);
                $("#a2m_maternal_leave_duration :input").prop("required", false);
            }    
        });

        $("#noMaternalLeave").click(function(){
            $("#noMaternalLeave").val('0');
            $("#a2m_maternal_leave_duration :input").removeAttr('value');
            $("#a2m_maternal_leave_duration :input").prop("readonly", true);
            $("#a2m_maternal_leave_duration :input").prop("required", false);
        });

        $("#yesMaternalLeave").click(function(){
            $("#yesMaternalLeave").val('1');
            $("#a2m_maternal_leave_duration :input").prop("readonly", false);
            $("#a2m_maternal_leave_duration :input").prop("required", true);
        });

        /*$("#a2m_public").click(function(){
            if($(this).is(':checked')) {
                $("#a2m_public_transport").prop("required", true);
            } else {
                $("#a2m_public_transport").prop("required", false);
            }  
        });*/

    });
    </script>
            <div class="col-md-4 section-list">
                        <div class="panel panel-primary">
                            <div class="panel-heading text-center"> List of Sections  </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="{% url 'forms_a:process_section1' %}"> Mother Demographic Data </a>
                                </li>
                                <li class="list-group-item active">
                                    <a href="{% url 'forms_a:process_section2'%}"> Mother Employment History </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'forms_a:process_section3'%}"> Obstetric History </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'forms_a:process_section4'%}"> Father Data </a>
                                </li>
                                <li class="list-group-item">
                                    <a href="{% url 'forms_a:process_section5'%}"> Pre-pregnancy Smoking Habits </a> 
                                </li>
                            </ul>
                        </div>
            </div>
    
            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    <form class="formA-question" action="{% url 'forms_a:process_section2' %}" method="post" id="form_a">
                        <h2>Mother Employment History</h2>
                        <hr> 
                        {% csrf_token %}
                        <input type="hidden" name="context" value="SAVE">
                        <div class="form-group" id="employmentStatus">
                            <label for="a2m_working_status"> Employment Status </label>
                            <div class="radio">                                
                                <label>
                                    {% if a2.a2m_working_status == "1" %}
                                    <input type="radio" name="a2m_working_status" id="employed" value="1" checked>
                                    {% else %}
                                    <input type="radio" name="a2m_working_status" id="employed" value="1">
                                    {% endif %}
                                    Employed
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a2.a2m_working_status == "2" %}
                                    <input type="radio" name="a2m_working_status" id="self-employed" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="a2m_working_status" id="self-employed" value="2">
                                    {% endif %}
                                    Self-Employed
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if a2.a2m_working_status == "3" %}
                                    <input type="radio" name="a2m_working_status" id="unemployed" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="a2m_working_status" id="unemployed" value="3">
                                    {% endif %}
                                    Unemployed
                                </label>
                            </div>            
                        </div>

                        <div id="job">
                            <div class="form-group">
                                <label for="a2m_working_type"> Type of Job </label>
                                <input class="form-control" type="text" name="a2m_working_type" value="{{a2.a2m_working_type}}">
                            </div>

                        <fieldset class="form-group">
                                <label for="a2m_working_pregnancy"> Are You Still working in pregnancy ? </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_working_pregnancy %}
                                    <input type="radio" class="form-check-input" name="a2m_working_pregnancy" id="yesWorkingPregnancy" value="1" checked>
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_working_pregnancy" id="yesWorkingPregnancy" value="1">
                                    {% endif %}
                                    Yes
                                    </label>
                                </div>                                
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_working_pregnancy %}
                                    <input type="radio" class="form-check-input" name="a2m_working_pregnancy" 
                                    id="noWorkingPregnancy" value="0">
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_working_pregnancy" 
                                    id="noWorkingPregnancy" value="0" checked>
                                    {% endif %}
                                    No
                                    </label>
                                </div>                            
                        </fieldset>

                        

                        <fieldset class="form-group" id="workingPregnancy">
                                <label for="a2m_maternal_leave"> If yes, please specify whether you will have a maternal leave? </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_maternal_leave == False %}
                                    <input type="radio" class="form-check-input" name="a2m_maternal_leave" 
                                    id="noMaternalLeave" value="0" checked>
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_maternal_leave" 
                                    id="noMaternalLeave" value="0">
                                    {% endif %}
                                    No
                                    </label>
                                </div>                                
                                <div class="form-check">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <label class="form-check-label">
                                            {% if a2.a2m_maternal_leave %}
                                            <input type="radio" class="form-check-input" name="a2m_maternal_leave" 
                                            id="yesMaternalLeave" value="1" checked>
                                            {% else %}
                                            <input type="radio" class="form-check-input" name="a2m_maternal_leave" 
                                            id="yesMaternalLeave" value="1">
                                            {% endif %}
                                             Yes, How Long ?
                                            </label>
                                        </div>
                                        <div class="col-md-4">
                                            <div id="a2m_maternal_leave_duration">
                                                {% if a2.a2m_maternal_leave_duration > 0 %}
                                                <input class="form-control" type="number" id="a2m_maternal_leave_duration" 
                                                name="a2m_maternal_leave_duration" value="{{a2.a2m_maternal_leave_duration}}">
                                                {% else %}
                                                <input class="form-control" type="number" id="a2m_maternal_leave_duration" 
                                                name="a2m_maternal_leave_duration">
                                                {% endif %} 
                                            </div>
                                        </div>
                                    </div>
                                </div>                            
                        </fieldset>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6 col-sm-6">
                                    <label for="a2m_work_street"> Work Address </label>
                                    <input class="form-control" type="text" name="a2m_work_street" id="a2m_work_street" value="{{a2.a2m_work_street}}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a2m_work_rt"> RT </label>
                                    <input class="form-control" type="text" name="a2m_work_rt" id="a2m_work_rt" value="{{a2.a2m_work_rt}}">
                                </div>

                                <div class="col-md-3 col-sm-3">
                                    <label for="a2m_work_rw"> RW </label>
                                    <input class="form-control" type="text" name="a2m_work_rw" id="a2m_work_rw" value="{{a2.a2m_work_rw}}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 col-sm-4">
                                    <label for="a2m_work_district"> District </label>
                                    <input class="form-control" type="text" name="a2m_work_district" id="a2m_work_district" value="{{a2.a2m_work_district}}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a2m_work_city"> City </label>
                                    <input class="form-control" type="text" name="a2m_work_city" id="a2m_work_city" value="{{a2.a2m_work_city}}">
                                </div>

                                <div class="col-md-4 col-sm-4">
                                    <label for="a2m_work_zip_code"> Zip Code </label>
                                    <input class="form-control" type="text" name="a2m_work_zip_code" id="a2m_work_zip_code" value="{{a2.a2m_work_zipcode}}">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">                            
                            <label for="a2m_work_phone">Work Phone Number </label>  
                            <input class="form-control" type="text" name= "a2m_work_phone" id="a2m_work_phone" value="{{a2.a2m_work_phone_number}}">
                        </div>

                        <div class="form-group">
                            <label>How do you travel to work(cross main mode if more used such as bus and walking)</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if a2.a2m_travel_by_car %}
                                    <input class="form-check-input" name="a2m_car" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="a2m_car" type="checkbox">
                                    {% endif %}
                                    Car
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if a2.a2m_travel_by_motorcycle %}
                                    <input class="form-check-input" name="a2m_motorcycle" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="a2m_motorcycle" type="checkbox">
                                    {% endif %}
                                    Motorcycle
                                </label>
                            </div>                           

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if a2.a2m_travel_by_cycling %}
                                    <input class="form-check-input" name="a2m_cycling" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="a2m_cycling" type="checkbox"> 
                                    {% endif %}
                                    Cycling
                                </label>
                            </div>
                            
                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if a2.a2m_travel_by_walking %}
                                    <input class="form-check-input" name="a2m_walking" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="a2m_walking" type="checkbox">
                                    {% endif %}
                                    Walking
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if a2.a2m_travel_by_public_transport %}
                                        <input class="form-check-input" name="a2m_public" type="checkbox" id="a2m_public" checked> 
                                    {% else %}
                                        <input class="form-check-input" name="a2m_public" type="checkbox" id="a2m_public"> 
                                    {% endif %}
                                        Public transport
                                </label>                                        
                            </div>
                            <div class="form-group" id="a2m_public_transport">
                                <label for="a2m_public_transport">Public transport type : </label>
                                        {% if a2.a2m_travel_by_public_transport %}
                                        <input class="form-control" type="text" name="a2m_public_transport"  value="{{a2.a2m_public_transport_type}}" >
                                        {% else %}
                                        <input class="form-control" type="text" name="a2m_public_transport">
                                        {% endif %}
                            </div>                                    
                            
                            <br>
                            <div class="form-group">
                                <label for="a2m_time_travel"> How much time do you need for work travel (home to office) </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" type="number" name="a2m_time_travel" placeholder="in minutes" value="{{a2.a2m_work_time_travel}}">
                                    </div>
                                </div>                                
                            </div>

                            <div class="form-group">
                                <label>Are you exposed to dust, gases, and/or fumes at work? </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_is_exposed_to_pollution %}
                                    <input type="radio" class="form-check-input" name="a2m_pollutant" id="yesExposed" value="1" checked>
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_pollutant" id="yesExposed" value="1">
                                    {% endif %}
                                    Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_is_exposed_to_pollution %}
                                    <input type="radio" class="form-check-input" name="a2m_pollutant" id="noExposed" value="0">
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_pollutant" id="noExposed" value="0" checked>
                                    {% endif %}
                                    No
                                    </label>
                                </div>                                
                            </div>

                            <div class="form-group">
                                <label for="a2m_working_hours"> How long is your working hours? </label>
                                <div class="row">
                                    <div class="col-md-4">
                                        <input class="form-control" type="number" name="a2m_working_hours" value="{{a2.a2m_working_hours}}">
                                    </div>
                                </div>                                
                            </div>

                            <div class="form-group">
                                <label>Where do you work mostly? </label>
                                <div class="form-check">
                                    <label class="form-check-label">
                                    {% if a2.a2m_working_area == '1' %}
                                    <input type="radio" class="form-check-input" name="a2m_working_area" value="1" id="indoor"checked>
                                    {% else %}
                                    <input type="radio" class="form-check-input" name="a2m_working_area" id="indoor" value="1">
                                    {% endif %}
                                    Indoor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label>
                                    {% if a2.a2m_working_area == '2' %}
                                    <input type="radio" name="a2m_working_area" value="2" id="outdoor" checked>
                                    {% else %}
                                    <input type="radio" name="a2m_working_area" id="outdoor" value="2">
                                    {% endif %}
                                    Outdoor
                                    </label>
                                </div>                                
                            </div>
                        </div>
                        </div>
                        <div class="form-group">
                                <div class="row">
                                    {% if is_save_all %}

                                    {% else %}
                                        <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                    {% endif %}    
                                </div>
                        </div>
                    </form>
                        {% if role != 'staff' %}
                            {% if date_data_checked %}

                            {% else %}
                                {% if is_save_all %}
                                <form action="{% url 'forms_a:edit_form' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="section_number" value="2">
                                    <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Edit"/>
                                </form>
                                {% endif %}
                            {% endif %}
                        {% endif %}  
                </div>
            </div>
{% endblock %}
