{% extends 'base.html' %}
{% block content %}

    <script>
        $(document).ready(function(){

        

        $("#noDeliveryCompilation").click(function(){
             $("#deliveryCompilation :input").prop("disabled", true);
        });

        $("#yesDeliveryCompilation").click(function(){           
            $("#deliveryCompilation :input").prop("disabled", false);
        });

        $("#noAntibiotics").click(function(){
             $("#receiveAntibiotics :input").prop("disabled", true);
        });

        $("#yesAntibiotics").click(function(){           
            $("#receiveAntibiotics :input").prop("disabled", false);
        });

        $("#noMaternalBlood").click(function(){             
             $("#maternalBloodTest").addClass('hidden');
        });

        $("#yesMaternalBlood").click(function(){           
            $("#maternalBloodTest").removeClass('hidden');
        });

        $("#noVaginalSwab").click(function(){
             $("#vaginalSwab :input").prop("disabled", true);
        });

        $("#yesVaginalSwab").click(function(){           
            $("#vaginalSwab :input").prop("disabled", false);
        });



          
    });
    </script>
        <div class="container-fluid">
            <div class="row">
            <div class="col-md-4 section-list">
                <div class="panel panel-primary">
                    <div class="panel-heading text-center"> List of Sections  </div>
                    <ul class="list-group">
                        <li class="list-group-item"><a href="{% url 'forms_c:process_sectionC1' %}">Mother</a></li>
                        <li class="list-group-item"><a href="{% url 'forms_c:process_sectionC2' %}">Placental Sampling</a></li>
                        <li class="list-group-item"><a href="{% url 'forms_c:process_sectionC3' %}">Infant Data</a></li>                        
                    </ul>
                </div>
            </div>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                     <form class="sectionC1-question" action="{% url 'forms_c:process_sectionC1' %}" method="POST">
                  
                    <h2>Mother</h2>
                    <hr>
                    <input type="hidden" name="context" value="SAVE">
                    {% csrf_token %}                        
                        <div class="form-group">                       
                            <label> Mother UR Number </label>                                                           
                            <input class="form-control" type="text" name="c1m_ur_number" value="{{ c1.c1m_ur_number }}">
                        </div>

                        <div class="form-group">
                            <label for="c1m_pre_height"> Place of Delivery </label>                 
                            <input class="form-control" type="text" name="c1m_delivery_place" value="{{ c1.c1m_delivery_place }}">
                        </div>

                        <div class="form-group">
                            <label>Gestational Age </label>
                            <div class="row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Last menstrual period (in weeks) </label>                        
                                <input class="form-control" type="number" pattern="[0-9]" 
                                name="c1m_gestational_age_fdlm" placeholder="in weeks" value="{{c1.c1m_gestational_age_fdlm}}">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label> ultrasound (in weeks) </label>                         
                                <input class="form-control" type="number" name="c1m_gestational_age_usg" placeholder="in weeks" value="{{c1.c1m_gestational_age_usg}}" >
                            </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Systolic blood pressure (mmHg) </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c1m_systolic1st"  aria-describedby="basic-addon1" value="{{c1.c1m_systolic1st}}">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="c1m_pre_height"> Systolic blood pressure (mmHg) </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c1m_systolic2nd" value="{{ c1.c1m_systolic2nd }}">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Diastolic blood pressure (mmHg) </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c1m_diastolic1st"  aria-describedby="basic-addon1" value="{{ c1.c1m_diastolic1st }}">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label for="c1m_pre_height"> Diastolic blood pressure (mmHg) </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c1m_diastolic2nd" value="{{ c1.c1m_diastolic2nd }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="c1m_pre_height"> Weight at delivery </label>                         
                            <input class="form-control" type="text" name="c1m_delivery_weight" value="{{ c1.c1m_delivery_weight }}">
                        </div>

                        <div class="form-group">
                            <label> Delivery Method </label>
                            <div class="radio">                                
                                <label>
                                    {% if c1.c1m_delivery_method == "1" %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios1" value="1" checked>
                                    {% else %}                                    
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios1" value="1">
                                    {% endif %}
                                    Unassisted vaginal birth
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_delivery_method == "2" %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios2" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios2" value="2">
                                    {% endif %}
                                    vacuum
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_delivery_method == "3" %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios3" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios3" value="3">
                                    {% endif %}
                                    Forceps
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_delivery_method == "4" %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios4" value="4" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_delivery_method" id="optionsRadios4" value="4">
                                    {% endif %}
                                    C-section
                                </label>
                            </div>                            
                        </div>


                        <fieldset class="form-group" id="opsi">
                            <label for="c1m_premature"> Delivery Compilation ? </label>
                            <div class="form-check">
                                <label>
                                {% if c1.c1m_delivery_compilation %}                                
                                <input type="radio" name="c1m_delivery_compilation" id="yesDeliveryCompilation" value="1" checked> 
                                {% else %}
                                <input type="radio" name="c1m_delivery_compilation" id="yesDeliveryCompilation" value="1"> 
                                {% endif %}                             
                                Yes, specify
                                </label>
                            </div>
                            <div class="form-check">
                                <label>
                                {% if c1.c1m_delivery_compilation %}                                
                                <input type="radio" name="c1m_delivery_compilation" id="noDeliveryCompilation" value="0" checked>
                                {% else %}
                                <input type="radio" name="c1m_delivery_compilation" id="noDeliveryCompilation" value="0">
                                {% endif %}                               
                                No
                                </label>
                            </div>
                                                                                    
                        </fieldset>

                        <div class="form-group" id="deliveryCompilation">
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_hypertensioncom %}
                                    <input class="form-check-input" name="c1m_hypertensioncom" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="c1m_hypertensioncom" type="checkbox">       
                                {% endif %}
                                Hypertension
                                </label>
                            </div>                           

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_eclampsiacom %}
                                <input class="form-check-input" name="c1m_eclampsiacom" type="checkbox" checked>
                                {% else %}
                                <input class="form-check-input" name="c1m_eclampsiacom" type="checkbox">
                                {% endif %}
                                 Preeclampsia/eclampsia                               
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if c1.c1m_visualcom %}
                                    <input class="form-check-input" name="c1m_visualcom" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="c1m_visualcom" type="checkbox">
                                    {% endif %}
                                    Visual disturbances                                 
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if c1.c1m_consciousnesscom %}
                                    <input class="form-check-input" name="c1m_consciousnesscom" type="checkbox" checked>
                                    {% else %}
                                    <input class="form-check-input" name="c1m_consciousnesscom" type="checkbox">
                                    {% endif %}
                                    Decreased consciousness                                   
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_seizurecom %}
                                    <input class="form-check-input" name="c1m_seizurecom" type="checkbox" checked>
                                {% else %}
                                    <input class="form-check-input" name="c1m_seizurecom" type="checkbox">
                                {% endif %}
                                Seizure
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_pullmonarycom %}
                                    <input class="form-check-input" name="c1m_pullmonarycom" type="checkbox" checked> 
                                {% else %}
                                    <input class="form-check-input" name="c1m_pullmonarycom" type="checkbox"> 
                                {% endif %}
                                Pulmonary Oedema
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_postpartumcom %}
                                    <input class="form-check-input" name="c1m_postpartumcom" type="checkbox" checked> 
                                {% else %}
                                    <input class="form-check-input" name="c1m_postpartumcom" type="checkbox">
                                {% endif %}
                                Post-partum bleeding
                                </label>
                            </div>

                            <div class="form-check">                                
                                <label class="form-check-label">
                                    {% if c1.c1m_fevercom %}
                                    <input class="form-check-input" name="c1m_fevercom" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="c1m_fevercom" type="checkbox">
                                    {% endif %}
                                    Fever
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1m_prematurerupturecom %}
                                    <input class="form-check-input" name="c1m_prematurerupturecom" type="checkbox" checked> 
                                {% else %}
                                    <input class="form-check-input" name="c1m_prematurerupturecom" type="checkbox">
                                {% endif %}
                                Premature rupture of the membrane                                
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_placentacom %}
                                    <input class="form-check-input" name="c1m_placentacom" type="checkbox" checked>
                                {% else %} 
                                    <input class="form-check-input" name="c1m_placentacom" type="checkbox">
                                {% endif %}
                                Placental abruption                                
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_placenta_praeviacom %}
                                    <input class="form-check-input" name="c1m_placenta_praeviacom" type="checkbox" checked>
                                {% else %}
                                 <input class="form-check-input" name="c1m_placenta_praeviacom" type="checkbox">
                                {% endif %}
                                Placenta praevia                                
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if c1.c1m_gbscom %}
                                    <input class="form-check-input" name="c1m_gbscom" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="c1m_gbscom" type="checkbox">
                                    {% endif %}
                                    GBS+
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_chorioamnionitiscom %}
                                    <input class="form-check-input" name="c1m_chorioamnionitiscom" type="checkbox" checked>
                                {% else %}
                                 <input class="form-check-input" name="c1m_chorioamnionitiscom" type="checkbox">
                                {% endif %}
                                    Chorioamnionitis                               
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_chlinical_diagnosiscom %}
                                    <input class="form-check-input" name="c1m_chlinical_diagnosiscom" type="checkbox" checked> 
                                {% else %}
                                    <input class="form-check-input" name="c1m_chlinical_diagnosiscom" type="checkbox">
                                {% endif %}
                                Presumed/clinical diagnosis                                
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    {% if c1.c1m_definite_diagnosiscom %}
                                    <input class="form-check-input" name="c1m_definite_diagnosiscom" type="checkbox" checked> 
                                    {% else %}
                                    <input class="form-check-input" name="c1m_definite_diagnosiscom" type="checkbox">
                                    {% endif %}
                                    Definite (proven by pathology findings)
                                </label>
                            </div>
                            
                            <label>Other</label>
                            <input class="form-control" type="text" name="c1m_othercom" value="{{ c1.c1m_othercom }}">                           
                        </div>

                        <div class="alert alert-info" role="alert">
                        <strong>Warning!</strong> Hypertension is defined if there is a persistent systolic blood pressure (BP) of 140 mm Hg or higher, or a diastolic BP of 90 mmHg or higher after 20 weeks of gestation in a women with previously normal blood pressure. 
                        #Preeclampsia is defined if there is a new onset of hypertension plus proteinuria or, in the absence of proteinuria, any of the following symptoms: new-onset thrombocytopenia, impaired liver function, renal insufficiency, pulmonary edema, or visual or cerebral disturbances
                        </div>


                        <fieldset class="form-group">
                            <label for="c1m_premature"> Did mother receive any antibiotics ? </label>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_antibiotics %}
                                <input type="radio" class="form-check-input" name="c1m_antibiotics" id="noAntibiotics" value="0" checked="">
                                {% else %}
                                <input type="radio" class="form-check-input" name="c1m_antibiotics" id="noAntibiotics" value="0">
                                {% endif%}
                                No
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_antibiotics %}
                                <input type="radio" class="form-check-input" name="c1m_antibiotics" id="yesAntibiotics" value="1" checked>
                                {% else %}
                                <input type="radio" class="form-check-input" name="c1m_antibiotics" id="yesAntibiotics" value="1">
                                {% endif %}
                                Yes, specify
                                </label>
                            </div>                             
                        </fieldset>

                        <div id="receiveAntibiotics">
                            <div class="form-group">
                                <label> Name of antibiotics </label>                         
                                <input class="form-control" type="text" name="c1m_antibiotics_type" value="{{c1.c1m_antibiotics_type }}">
                            </div>

                            <div class="form-group">
                                <label> Indication </label>                         
                                <input class="form-control" type="text" name="c1m_antibiotics_indication" value="{{c1.c1m_antibiotics_indication }}">
                            </div>  

                            <div class="form-group">
                                <label for="c1m_pre_height"> Duration of antibiotics course (days) </label> 
                                <input class="form-control" type="text" name="c1m_antibiotics_duration" value="{{c1.c1m_antibiotics_duration }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Proteinuria </label>
                            <div class="radio">                                
                                <label>
                                {% if c1.c1m_proteinuria == "1" %}
                                <input type="radio" name="c1m_proteinuria" id="optionsRadios1" value="1" checked>
                                {% else %}
                                <input type="radio" name="c1m_proteinuria" id="optionsRadios1" value="1">
                                {% endif %}
                                Positive +                               
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_proteinuria == "2" %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios2" value="2" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios2" value="2">
                                    {% endif %}
                                    Positive ++
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_proteinuria == "3" %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios3" value="3" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios3" value="3">
                                    {% endif %}
                                    Positive +++
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    {% if c1.c1m_proteinuria == "0" %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios0" value="0" checked>
                                    {% else %}
                                    <input type="radio" name="c1m_proteinuria" id="optionsRadios0" value="0">
                                    {% endif %}
                                    Negative
                                </label>
                            </div>
                        </div>


                        <fieldset class="form-group">
                            <label for="c1m_premature"> Maternal blood test (at birth, optional) </label>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_delivery_blood_test %}
                                <input type="radio" class="form-check-input" name="c1m_delivery_blood_test" id="noMaternalBlood" value="0" checked>
                                {% else %}
                                <input type="radio" class="form-check-input" name="c1m_delivery_blood_test" id="noMaternalBlood" value="0">
                                {% endif %}
                                No
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_delivery_blood_test %}
                                <input type="radio" class="form-check-input" name="c1m_delivery_blood_test" id="yesMaternalBlood" value="1" checked>
                                {% else %}
                                <input type="radio" class="form-check-input" name="c1m_delivery_blood_test" id="yesMaternalBlood" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>                             
                        </fieldset>

                        <div id="maternalBloodTest">
                            <div class="form-group">
                                <label for="c1m_pre_height"> Date </label>                         
                                <input class="form-control" type="date" name="c1m_blood_test_date" value="{{ blood_test_date }}">
                            </div>

                            <div class="form-group">
                                <label for="c1m_pre_height"> Hemoglobin level (g/dl) (in decimal) </label>
                                <input class="form-control" type="number" name="c1m_hb" step="0.1" placeholder="in decimal" value="{{ c1.c1m_hb }}">
                            </div>

                            <div class="form-group">
                                <label for="c1m_pre_height"> WBC (/micro litre) </label> 
                                <input class="form-control" type="number" name="c1m_wbc" step="0.1" placeholder="in decimal" value="{{c1.c1m_wbc }}">
                            </div>

                            <div class="form-group">
                                <label for="c1m_pre_height"> Platelets/thrombocyte (/microlite) </label> 
                                <input class="form-control" type="number" name="c1m_platelets" step="0.1" placeholder="in decimal" value="{{ c1.c1m_platelets }}">
                            </div>                            
                        

                        <h4>Preeclampsia work up (if there is persistent hypertension, see * above)</h4>
                        <div class="form-group">
                                <label> SGOT (mg/dl) </label>
                                <input class="form-control" type="number"  id="c1m_sgot" name="c1m_sgot" step="0.1" placeholder="in decimal" value="{{ c1.c1m_sgot }}">
                            </div>

                            <div class="form-group">
                                <label> SGPT (mg/dl) </label>
                                <input class="form-control" type="number"  id="c1m_sgpt" name="c1m_sgpt" step="0.1" placeholder="in decimal" value="{{ c1.c1m_sgpt }}">
                            </div>

                            <div class="form-group">
                                <label> Ureum (mg/dl) </label>
                                <input class="form-control" type="number"  id="c1m_ureum" name="c1m_ureum" step="0.1" placeholder="in decimal" value="{{ c1.c1m_ureum }}">
                            </div>

                            <div class="form-group">
                                <label> Creatinine (mg/dl) </label>
                                <input class="form-control" type="number"  id="c1m_creatinine" name="c1m_creatinine" step="0.1" placeholder="in decimal" value="{{ c1.c1m_creatinine }}">
                            </div>


                            <fieldset class="form-group">
                            <label> Sampling of vaginal swab </label>
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_vaginal_swab %}
                                <input type="radio" class="form-check-input" name="c1m_vaginal_swab" id="noVaginalSwab" value="0" checked>
                                {% else %}
                                 <input type="radio" class="form-check-input" name="c1m_vaginal_swab" id="noVaginalSwab" value="0">
                                 {% endif %}
                                No
                                </label>
                            </div>                                
                            <div class="form-check">
                                <label class="form-check-label">
                                {% if c1.c1m_vaginal_swab %}
                                <input type="radio" class="form-check-input" name="c1m_vaginal_swab" id="yesVaginalSwab" value="1" checked>
                                {% else %}
                                <input type="radio" class="form-check-input" name="c1m_vaginal_swab" id="yesVaginalSwab" value="1">
                                {% endif %}
                                Yes
                                </label>
                            </div>                            
                            </fieldset>

                            <div id="vaginalSwab">
                                <div class="form-group">
                                    <label for="c1m_swab_date"> Date taken </label> 
                                    <input class="form-control" type="date" name="c1m_swab_date" value="{{ swab_date }}">
                                </div>
                            </div>
                        </div>
                            {% if is_save_all %}

                            {% else %}
                                {% if role == 'staff' %}
                                <input id="submit_button" type="submit" class="btn btn-info btn-block form-button" value="Save"/>
                                {% endif %}
                            {% endif %}                       
    
                    </form>
                </div>
            </div>


        </div>
    </div>

        <script>
             $("#save").click(function(){
            $.notify("Data telah tersimpan", "success");
        });
        </script>
    

</body>

</html>
{% endblock %}
