    <script>
        $(document).ready(function(){


        
        $("#complicationDiagnosed :input").prop("disabled", true);


        $("#noDel").click(function(){
            $("#complicationDiagnosed").addClass('hidden');
        });

        $("#yesComplicationDiagnosed").click(function(){
            $("#complicationDiagnosed :input").prop("disabled", false);
        });

        
  
    });
    </script>

            <!-- Question List Section -->
            <div class="col-md-8 question-list">
                <div class=""> <!-- Tadinya pa-->
                    <form class="sectionB1-question">
                    <h2>Infant Data</h2>
                    <hr>                        
                        <div class="form-group">
                            <label> Child UR Number </label>                         
                            <input class="form-control" type="text" name="c3c_ur_number">
                        </div>

                        <div class="form-group">
                            <label> Child First Name </label>                         
                            <input class="form-control" type="text" name="c3c_first_name">
                        </div>

                        <div class="form-group">
                            <label> Child Surname </label>                         
                            <input class="form-control" type="text" name="c3c_surname">
                        </div>

                        <div class="form-group">
                            <label> Date of Birth </label>                         
                            <input class="form-control" type="text" name="c3c_dob">
                        </div>

                        <div class="form-group">
                            <label> Sex </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_sex" id="optionsRadios1" value="1">
                                    Male
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_sex" id="optionsRadios2" value="2">
                                    Female
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_sex" id="optionsRadios2" value="3">
                                    Indeterminate
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Plurality </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_plurality" id="optionsRadios1" value="1">
                                    Single
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_plurality" id="optionsRadios2" value="2">
                                    Twin
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group">
                            <label> Preterm Birth </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_preterm" id="noPretermBirth" value="1">
                                    No
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_preterm" id="yesPretermBirth" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group" id="pretermBirth">
                            <label> Week of Gestational age (Ballad Score) (in Weeks )</label>
                            <input class="form-control" type="text" name="c3c_ballad_score">
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Birth Weight (gram) </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c3c_birth_weight_1st"  aria-describedby="basic-addon1">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label> Birth weight (gram) </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c3c_birth_weight_2nd">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Birth length (cm) </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c3c_birth_length_1st"  aria-describedby="basic-addon1">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label> Birth length (cm) </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c3c_birth_length_2nd">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> Head circumference </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c3c_hc_1st"  aria-describedby="basic-addon1">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label> Head circumference </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c3c_hc_2nd">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Stillbirth </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_still_birth" id="noStillBirth" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_still_birth" id="yesStillBirth" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <!-- If No Stillbirth-->

                        <div class="form-group row">
                            <div class="col-md-6 col-sm-6">                            
                                <label> 1 minute </label>
                                <span class="input-group-addon" id="basic-addon1">1</span>                         
                                <input class="form-control" type="text" name="c3c_apgar1"  aria-describedby="basic-addon1">  
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <label> 5 minutes </label>
                                <span class="input-group-addon" id="basic-addon1">2</span>                         
                                <input class="form-control" type="text" name="c3c_apgar5">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Failure to initiate spontaneous respiration? </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_failure_respiration" id="noFailureRespiration" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_failure_respiration" id="yesFailureRespiration" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div class="alert alert-warning" role="alert">
                        <strong>Warning!</strong> If Apgar score is less than 7 or failure to initiate spontaneous respiration, take cord blood gas analysis if resources are available
                        </div>

                        <div class="form-group">
                            <label> Resuscitation required? </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_resuscitation" id="noResuscitation" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_resuscitation" id="yesResuscitation" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group" id="resuscitation">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_oxygen_therapy" type="checkbox"> O2 therapy (nasal/mask)
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_air_cpap" type="checkbox"> CPAP with room air (FiO2 21%)
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_oxygen_cpap" type="checkbox"> CPAP with oxygen
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_air_ippr" type="checkbox"> Non-invasive IPPR (interminent positive pressure respiration) with air (FiO2 21%)
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_oxygen_ippr" type="checkbox"> Non-invasive IPPR (interminent positive pressure respiration) with oxygen
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_air_intubation" type="checkbox"> Intubation/ETT with air (FiO2 21%)
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_oxygen_intubation" type="checkbox"> Non-invasive IPPR (interminent positive pressure respiration) with oxygen
                                </label>
                            </div>

                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" name="c3c_cardiac_massage" type="checkbox"> Cardiac massage
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Resuscitation drug? </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_resuscitation_drug" id="noResuscitationDrug" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_resuscitation_drug" id="yesResuscitationDrug" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div id="resuscitationDrug">
                            <div class="form-group">
                                <label> Name of drug </label>                         
                                <input class="form-control" type="text" name="c3c_drug_name">
                            </div>

                            <div class="form-group">
                                <label> Dose ( microgram/milligram) (*choose either unit) </label>                         
                                <input class="form-control" type="number" name="c3c_drug_dose" step="0.1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Admitted to special nursery care </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_nursery_care" id="noNurseryCare" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_nursery_care" id="yesNurseryCare" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group" id="nurseryCare">
                            <label> Duration </label>
                            <input class="form-control" type="text" name="c3c_duration_nursery_care">
                        </div>

                        <div class="form-group">
                            <label> Admitted to NICU? </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_nicu" id="noNicu" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_nicu" id="yesNicu" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div class="form-group" id="nicu">
                            <label> Duration </label>
                            <input class="form-control" type="text" name="c3c_duration_nicu">
                        </div>


                        <div class="form-group">
                            <label> Is there any neonatal morbidity? </label>
                            <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_neonatal_morbidity" id="noNeonatalMorbidity" value="1">
                                    No 
                                </label>
                            </div>
                            <div class="radio">
                                <label>
                                    <input type="radio" name="c3c_neonatal_morbidity" id="yesNeonatalMorbidity" value="2">
                                    Yes
                                </label>
                            </div>                            
                        </div>

                        <div id="neonatalMorbidity">
                            <div class="form-group">
                            <label> Sepsis </label>
                                <div class="radio">                                
                                    <label>
                                        <input type="radio" name="c3c_sepsis" id="noSepsis" value="1">
                                        No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="c3c_sepsis" id="yesSepsis" value="2">
                                        Yes
                                    </label>
                                </div>                            
                            </div>

                            <div id="Sepsis">                           
                                <div class="form-group">
                                    <label> Presumed clinical diagnosis </label>
                                    <div class="radio">                                
                                        <label>
                                            <input type="radio" name="c3c_sepsis_presumed" value="1">
                                            No
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="c3c_sepsis_presumed" value="2">
                                            Yes
                                        </label>
                                    </div>                            
                                </div>

                                <div class="form-group">
                                    <label> Definite (proven by blood culture), please specify </label>
                                    <div class="radio">                                
                                        <label>
                                            <input type="radio" name="c3c_sepsis_definite" id="noDefinite" value="0">
                                            No
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="c3c_sepsis_definite" id="yesDefinite" value="1">
                                        Yes
                                        </label>
                                    </div>                            
                                </div>

                                <div id="definite">
                                    <div class="form-group">
                                        <label> Name of bacteria 1 </label>                         
                                        <input class="form-control" type="text" name="c3c_sepsis_bacteria1">
                                    </div>

                                    <div class="form-group">
                                        <label> Name of bacteria 2 </label>                         
                                        <input class="form-control" type="text" name="c3c_sepsis_bacteria2">
                                    </div>
                                </div>

                                <h4>Antibiotics </h4>
                                <div class="form-group">
                                    <label> Name of drug 1 </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_drug1">
                                </div>

                                <div class="form-group">
                                    <label> Name of drug 2 </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_drug2">
                                </div>

                                <div class="form-group">
                                    <label> Dose 1 (mg) </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_dose1">
                                </div>

                                <div class="form-group">
                                    <label> Dose 2 (mg) </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_dose2">
                                </div>

                                <div class="form-group">
                                    <label> Frequency 1 (every hours)</label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_frequency1">
                                </div>

                                <div class="form-group">
                                    <label> Frequency 2 (every hours) </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_frequency2">
                                </div>

                                <div class="form-group">
                                    <label> Duration of antibiotics 1 (days) </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_duration1">
                                </div>

                                <div class="form-group">
                                    <label>Duration of antibiotics 2 (days) </label>                         
                                    <input class="form-control" type="text" name="c3c_sepsis_duration2">
                                </div>
                            </div>

                                <div class="form-group">
                                    <label> Icterus needing light therapy/exchange transfusion </label>
                                    <div class="radio">                                
                                        <label>
                                            <input type="radio" name="c3c_icterus" value="0">
                                            No
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="c3c_icterus"  value="1">
                                        Yes
                                        </label>
                                    </div>                            
                                </div>

                                <div class="form-group">
                                    <label> Asphyxia/hypoxic ischemic encephaloty (HIE) </label>
                                    <div class="radio">                                
                                        <label>
                                            <input type="radio" name="c3c_asphyxia" value="0">
                                            No
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="c3c_asphyxia"  value="1">
                                        Yes
                                        </label>
                                    </div>                            
                                </div>

                                <div class="form-group">
                                    <label> Respiratory distress </label>
                                    <div class="radio">                                
                                        <label>
                                            <input type="radio" name="c3c_respiratory_distress" id="yesRespiratory" value="0">
                                            No
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                        <input type="radio" name="c3c_respiratory_distress" id="noRespiratory" value="1">
                                        Yes
                                        </label>
                                    </div>                             
                                </div>

                                <div id="Respiratory">
                                    <div class="form-group">
                                        <label> Diagnosis </label>
                                        <div class="radio">                                
                                            <label>
                                                <input type="radio" name="c3c_respiratory_diagnosis" id="optionsRadios1" value="1">
                                                Nenatal pneumonia
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_diagnosis" id="optionsRadios2" value="2">
                                                Hyaline membrane disease
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_diagnosis" id="optionsRadios3" value="3">
                                                Meconium aspiration syndrome
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_diagnosis" id="optionsRadios4" value="4">
                                                Others
                                            </label>
                                        </div>
                                            <label> If Others, specify </label>
                                            <input class="form-control" type="text" name="c3c_other_respiratory_diagnosis">
                                    </div>

                                    <div class="form-group">
                                        <label> Type of the highest level of respiratory support received </label>
                                        <div class="radio">                                
                                            <label>
                                                <input type="radio" name="c3c_respiratory_support" id="optionsRadios1" value="1">
                                                O2 therapy (nasal/mask)
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_support" id="optionsRadios2" value="2">
                                                CPAP
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_support" id="optionsRadios3" value="3">
                                                Non-invasive IPPR
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="c3c_respiratory_support" id="optionsRadios4" value="4">
                                                Intubation/ETT
                                            </label>
                                        </div>                                            
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label>Other co-morbidities</label>
                                    <input class="form-control" type="text" name="c3c_others_morbidities">
                                </div>
                            </div>

                            <div class="form-group">
                                <label> Any congenital anomaly </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_congenital_anomaly" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_congenital_anomaly" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>                            
                            </div>

                            <div id="congenitalAnomaly">
                                <label> Cardiovascular </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_cardiovascularano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_cardiovascularano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>


                                <label> Central nervous system </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_cnsano"  value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_cnsano" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Musculosketal </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_musculoskeletalano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_musculoskeletalano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Gastrointestinal </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_gastrointestinalano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_gastrointestinalano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Urogenital </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_urogenitalano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_urogenitalano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Respiratory </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_respiratoryano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_respiratoryano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Skin </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_skinano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_skinano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Down syndrome (suspected or proven )</label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_down_syndromeano" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_down_syndromeano" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <div class="form-group">
                                    <label>Other syndrome</label>                         
                                    <input class="form-control" type="text" name="c3c_other_syndromeano">
                                </div>      
                            </div>

                            <div class="form-group">
                                <label> Any congenital infection </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_congenital_infection" id="noCongenitalInfection" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_congenital_infection" id="yesCongenitalInfection" value="2">
                                    Yes
                                    </label>
                                </div>                            
                            </div>

                            <div id="congenitalInfection">
                                <label> Toxoplasmosis</label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_toxoplasmosisinf" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_toxoplasmosisinf" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Rubella </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_rubellainf" id="noCongenitalAnomaly" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_rubellainf" id="yesCongenitalAnomaly" value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Cytomegalovirus </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_cytomegalovirusinf"  value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_cytomegalovirusinf"  value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> Syphillis </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_syphillisinf"  value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_syphillisinf"  value="2">
                                    Yes
                                    </label>
                                </div>

                                <label> HIV </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_hivinf" id="noHIV" value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_hivinf" id="yesHiv" value="2">
                                    Yes
                                    </label>
                                </div>

                                <div id="HIV">
                                    <label> Did mother received prevention of maternal-to child transmission regimen ? </label>
                                <div class="radio">                                
                                <label>
                                    <input type="radio" name="c3c_hiv_prevention"  value="1">
                                    No 
                                </label>
                                </div>
                                <div class="radio">
                                    <label>
                                    <input type="radio" name="c3c_hiv_prevention"  value="2">
                                    Yes
                                    </label>
                                </div>
                                </div>
                            </div>

                       

                        <div class="form-group">
                            <label> Blood test for septic work up </label>
                                <div class="radio">                                
                                    <label>
                                        <input type="radio" name="c3c_blood_test_septic" id="noBloodTestSeptic" value="1">
                                        No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="c3c_blood_test_septic" id="yesBloodTestSeptic" value="2">
                                        Yes
                                    </label>
                                </div>                            
                        </div>

                        <div id="bloodTestSeptic">
                            <div class="form-group">
                                <label> Date taken </label>                         
                                <input class="form-control" type="date" name="c3c_blood_test_date">
                            </div>

                            <div class="form-group">
                                <label> Hb (g/dL) </label>                         
                                <input class="form-control" type="number" name="c3c_hb_septic" step="0.1" placeholder="in decimal">
                            </div>

                            <div class="form-group">
                                <label> WBC (/micro litre x 1000) </label>                         
                                <input class="form-control" type="number" name="c3c_wbc_septic" step="0.1" placeholder="in decimal">
                            </div>

                            <div class="form-group">
                                <label> Platelet count (/micro litre x 1000) </label>                         
                                <input class="form-control" type="number" name="c3c_platelet_septic" step="0.1" placeholder="in decimal">
                            </div>

                            <div class="form-group">
                                <label> CRP (mg x dL) </label>                         
                                <input class="form-control" type="number" name="c3c_crp_septic" step="0.1" placeholder="in decimal">
                            </div>

                            <div class="form-group">
                                <label> IT Ratio </label>                         
                                <input class="form-control" type="number" name="c3c_ITRatio_septic" step="0.1" placeholder="in decimal">
                            </div>
                        </div>


                        <div class="form-group">
                            <label> Cord blood gas analysis (only taken if there is asphyxia) </label>
                                <div class="radio">                                
                                    <label>
                                        <input type="radio" name="c3c_coord_blood_analysis" id="noCoordBloodAnalysis" value="1">
                                        No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="c3c_coord_blood_analysis" id="yesCoordBloodAnalysis" value="2">
                                        Yes
                                    </label>
                                </div>                            
                        </div>

                        <div id="coordBloodAnalysis">
                            <div class="form-group">
                                <label> pH </label>                         
                                <input class="form-control" type="number" name="c3c_pH">
                            </div>

                            <div class="form-group">
                                <label> pO2 </label>                         
                                <input class="form-control" type="number" name="c3c_po2">
                            </div>

                            <div class="form-group">
                                <label> pCO2 </label>                         
                                <input class="form-control" type="number" name="c3c_pco2">
                            </div>

                            <div class="form-group">
                                <label> HCO3 </label>                         
                                <input class="form-control" type="number" name="c3c_hco3">
                            </div>

                            <div class="form-group">
                                <label> Base Excess </label>                         
                                <input class="form-control" type="number" name="c3c_base_excess">
                            </div>
                        </div>

                        <div class="form-group">
                            <label> Sampling of cord blood </label>
                                <div class="radio">                                
                                    <label>
                                        <input type="radio" name="c3c_coord_blood_sampling" id="noCoordBloodSampling" value="1">
                                        No
                                    </label>
                                </div>
                                <div class="radio">
                                    <label>
                                        <input type="radio" name="c3c_coord_blood_sampling" id="yesCoordBloodSampling" value="2">
                                        Yes
                                    </label>
                                </div>                            
                        </div>

                        <div id="coordBloodSampling">
                            <div class="form-group">
                                <label> Date taken </label>                         
                                <input class="form-control" type="date" name="c3c_cord_blood_date">
                        </div>
                        </div>

                        <h4>Date of discharge from place of birth</h4>
                        <div class="form-group">
                                <label> Mother </label>                         
                                <input class="form-control" type="date" name="c4m_discharge_date">
                        </div>
                        <div class="form-group">
                                <label> Baby </label>                         
                                <input class="form-control" type="date" name="c4c_discharge_date">
                        </div>
             
                        <button type="submit" id="save" class="btn btn-primary">Save </button>
                        <a href="" type="submit" class="btn btn-success"> Edit </a>

    
                    </form>
                </div>
            </div>


        </div>
    </div>

        <script>
             $("#save").click(function(){
            $.notify("Data telah tersimpan", "success");
        });
        </script>
    


     

</body>

</html>
